<div id="guarantee">
        <div class="container ">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col col-6">
                            <img class="embed-responsive" src="/images/implants7/henry_ba_trim.jpg?rl=f" alt="Henry before and after">
                        </div>
                        <div class="col col-8">
                            <div class="panel light  pad-30">
                                <h2>WORLD'S LEADING BRAND</h2>
                                <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a
                                    pioneer in dental implantology, as our preferred partner. Nobel is the world's leading
                                    implant manufacturer.</p>
                                <img src="/images/nobel_logo_large.png" alt="Nobel" class="w-50 float-right">
                            </div>
                            <div class="panel light  pad-30">
                                <h2>LIFETIME GUARANTEE</h2>
                                The dental implant manufacturer's guarantee covers the very rare scenario of implant
                                component fracture, undertaking to replace any implant component for a specified timeframe.
                                <a href="#" class="guaranteePopup">+ Read Full Text</a>
                                <img src="/images/icon_tick_cs.png" alt="Nobel" class=" float-right">
                            </div>
                        </div>
                        <div class="col-12">

                                <div class="d-flex justify-content-between pt-3">
                                    <div class="img-v1-zero"></div>
                                    <div class="img-v1-rated-excellent"></div>
                                    <a href="#" class="img-v1-free-consult openForm"></a>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>










