<div class="container mb-4 vh-height" id="choose">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="five-icons-row justify-content-around">
                <div class="col-cs">
                    <img src="/images/icons/img-leading.jpg" class="embed-responsive">
                </div>
                <div class="col-cs">
                    <img src="/images/icons/img-zero.jpg" class="embed-responsive">
                </div>
                <div class="col-cs">
                    <img src="/images/icons/img-lifetime.jpg" class="embed-responsive">
                </div>
                <div class="col-cs">
                    <img src="/images/icons/img-inv-quality.jpg" class="embed-responsive">
                </div>
                <div class="col-cs d-none d-sm-block">
                    <img src="/images/icons/img-largest.jpg" class="embed-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-4">
            <img class="embed-responsive" src="/images/implants7/henry_ba_trim_thin.jpg?rl=f" alt="Henry before and after">
            <div class="full-implants">
                <div class="dental-cards-holder ">

                    <div class="dental-cards-col left">
                        <div class="dental-card shadow openForm">
                            <div class="dental-card-img">
                                <img src="/images/p_implants_single.png" alt="implant image">
                                <div class="tri"></div>
                            </div>
                            <div class="detntal-details">
                                <div class="dental-card-hed">SINGLE IMPLANTS </div>
                                <div class="detntal-details_price big">
                                    £1,695 <span>or</span>
                                </div>
                                <div class="detntal-details_monthly small">
                                    £18.36<span>/month<sup>1</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dental-cards-col right">
                        <div class="dental-card shadow openForm">
                            <div class="dental-card-img">
                                <img src="/images/nobel_all_on_4.png" alt="implant image">
                                <div class="tri"></div>
                            </div>

                            <div class="detntal-details">
                                <div class="dental-card-hed">WHOLE ARCH</div>
                                <div class="detntal-details_price big">
                                    £5,995 <span>or</span>
                                </div>

                                <div class="detntal-details_monthly small">
                                    £64.95<span>/month<sup>2</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-8">
            <div class="cs-row-henry">
                <div class="panel light cs-col-1">
                    <h2>WORLD'S LEADING BRAND</h2>
                    <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a
                        pioneer in dental implantology, as our preferred partner. Nobel is the world's leading
                        implant manufacturer.</p>
                    <img src="/images/nobel_logo_large.png" alt="Nobel" class="w-50 float-right">
                </div>
                <div class="panel light cs-col-2">
                    <h2>LIFETIME GUARANTEE</h2>
                    The dental implant manufacturer's guarantee covers the very rare scenario of implant
                    component fracture, undertaking to replace any implant component for a specified timeframe.
                    <a href="#" class="guaranteePopup">+ Read Full Text</a>
                    <img src="/images/icon_tick_cs.png" alt="Nobel" class=" float-right">
                </div>
            </div>
            <div class="panel-h shadow">
                <div class="panel-hed narrow">
                    Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>1</sup>
                </div>
                <div class="panel-body">
                    {{>dental-implants-clean-form-no-hed}}
                    <p class="nb-text mb-0 meta-text "><strong><sup>1</sup>A £50 refundable deposit will be required at the point of
                        booking.
                        This
                        will be returned to you on the day of your consultation.</strong></p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

        </div>
    </div>
</div>