<div class="v-center-flex bg-couple sections vh-height " id="pricing">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <h2 class="hed-w-s h1 text-center">Simple. Transparent. <span class="nl-return">All Inclusive.</span></h2>
                <div class="strip-cta">
                    {{>di-price-cols}}

                </div>
            <div class="price-box">
                <p class="meta-text">
                    &nbsp;<sup>{{pricing.imp1.termsNum}}</sup>. 10% deposit of {{pricing.imp1.deposit}}, plus 60 payments of {{pricing.imp1.pmPrice}} at {{pricing.imp1.interest}} APR. Total paid {{pricing.imp1.total}}, total interest paid {{pricing.imp1.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.imp2.termsNum}}</sup>. 10% deposit of {{pricing.imp2.deposit}}, plus 60 payments of {{pricing.imp2.pmPrice}} at {{pricing.imp2.interest}} APR. Total paid {{pricing.imp2.total}}, total interest paid {{pricing.imp2.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.imp3.termsNum}}</sup>. 10% deposit of {{pricing.imp3.deposit}}, plus 60 payments of {{pricing.imp3.pmPrice}} at {{pricing.imp3.interest}} APR. Total paid {{pricing.imp3.total}}, total interest paid {{pricing.imp3.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.imp4.termsNum}}</sup>. 10% deposit of {{pricing.imp4.deposit}}, plus 60 payments of {{pricing.imp4.pmPrice}} at {{pricing.imp4.interest}} APR. Total paid {{pricing.imp4.total}}, total interest paid {{pricing.imp4.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.imp5.termsNum}}</sup>. 10% deposit of {{pricing.imp5.deposit}}, plus 60 payments of {{pricing.imp5.pmPrice}} at {{pricing.imp5.interest}} APR. Total paid {{pricing.imp5.total}}, total interest paid {{pricing.imp5.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.singleArch.termsNum}}</sup>. 10% deposit of {{pricing.singleArch.deposit}}, plus 60 payments of {{pricing.singleArch.pmPrice}} at {{pricing.singleArch.interest}} APR. Total paid {{pricing.singleArch.total}}, total interest paid {{pricing.singleArch.interestPayed}}. Subject to availability, terms and conditions apply.
                    &nbsp;<sup>{{pricing.bothArch.termsNum}}</sup>. 10% deposit of {{pricing.bothArch.deposit}}, plus 60 payments of {{pricing.bothArch.pmPrice}} at {{pricing.bothArch.interest}} APR. Total paid {{pricing.bothArch.total}}, total interest paid {{pricing.bothArch.interestPayed}}. Subject to availability, terms and conditions apply.
                </p>
                <p class="nb-text mb-0 meta-text">
                    <sup>8</sup>{{content.termsRefund}} {{content.termsCredit}}
                </p>
            </div>
        </div>
    </div>
</div>
</div>