<div class="subheader">
    <div class="subheader-disc">
        <h1>"Finest Dental <strong>changed my life</strong>."</h1>
        <h2><strong>Dental Implants</strong> Case Study: Henry Baker, London </h2>
        <div class="text-xs-center">
            <a class="play d-lg-none d-md-none btn-play" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/5bNSR8vXM7A?autoplay=1&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot;  allow=&quot;encrypted-media&quot; allowfullscreen></iframe>" href="#" target="_blank" title="Henry's testimonial">
                Watch Video
            </a>
        </div>
        <div class="vid-cta">
            <div class="hidder"><strong>Dental Implants</strong> Case Study</div>
            <div class="hidder2">
                <a class="play btn-play"
                   data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/5bNSR8vXM7A?autoplay=1&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot;  allow=&quot;encrypted-media&quot; allowfullscreen></iframe>"
                   href="#" target="_blank" title="Henry's testimonial">
                    Watch&nbsp;Video
                </a>
            </div>
        </div>
        <div class="henry-video">
            <a class="play"
               data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/5bNSR8vXM7A?autoplay=1&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allow=&quot;encrypted-media&quot; allowfullscreen></iframe>"
               href="#" target="_blank" title="Henry's testimonial">
                <img src="/images/henry_circle.png" alt="Henry Baker portrait"></a>
        </div>
    </div>
</div>
