<div class="sections d-flex  vh-height v-center-flex">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">

                <h4 class="sections-hed-num"><span>1</span> Unbeatable <strong>Results</strong>...</h4>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><img src="/images/implants_ba_gary.jpg" alt="Gary" class="embed-responsive rounded"></p>
                        </div>
                        <div class="col">
                            <p><img src="/images/beforeafter2.jpg" alt="BA1" class="embed-responsive rounded"></p>
                        </div>
                        <div class="col">
                            <p><img src="/images/ba_henry_split.jpg" alt="BA2" class="embed-responsive rounded"></p>
                        </div>
                    </div>
                </div>
                <h4 class="sections-hed-num"><span>2</span> ... And Unbeatable <strong>Service</strong>.</h4>
                {{>di-pill-icons-implants}}
            </div>
        </div>
    </div>
</div>
