<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block" id="choose">

    <div class="sections container">
        <div class="row">
            <div class="col col-4">
                <img class="embed-responsive" src="/images/implants7/henry_ba_trim.jpg?rl=f"
                     alt="Henry before and after">
                <button class="openForm btn submit big full mb-3 hide-md-lg mt-4" name="submitB" value="BOOK NOW">Book <span
                        class="hideMe">Your </span><strong>Free Consultation</strong><span class="hideMe"> Now</span>
                </button>
            </div>
            <div class="col col-8">
                <div class="row d-print-flex d-lg-flex xl-lg-flex">
                    <div class="col col-sm-12 col-md-6 ">
                        <div class="panel light gl-ch-panel pad-30">
                            <h2>WORLD'S LEADING BRAND</h2>
                            <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a
                                pioneer in dental implantology, as our preferred partner. Nobel is the world's leading
                                implant manufacturer.</p>
                            <img src="/images/nobel_logo_large.png" alt="Nobel" class="w-50 float-right">
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6">
                        <div class="panel light gl-ch-panel pad-30">
                            <h2>LIFETIME GUARANTEE</h2>
                            The dental implant manufacturer's guarantee covers the very rare scenario of implant
                            component fracture, undertaking to replace any implant component for a specified timeframe.
                            <a href="#" class="guaranteePopup">+ Read Full Text</a>
                            <img src="/images/icon_tick_cs.png" alt="Nobel" class=" float-right">
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 ">

                        <div class="mt-4"></div>
                        <div class="d-flex justify-content-between pt-3">
                            <div class="img-v1-zero"></div>
                            <div class="img-v1-rated-excellent"></div>
                            <a href="#" class="img-v1-free-consult openForm"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
