<div class="sections d-block d-sm-block d-md-block d-lg-none d-xl-none">

    <div class="mt-4 d-none d-sm-none d-md-block d-lg-none d-xl-none">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-md-7 col-lg-5 ">
                <h2 class="d-block d-sm-none pb-2 pt-2">Say goodbye to dentures and <strong>permanently replace</strong> missing teeth.</h2>
                <img class="embed-responsive pb-2" src="/images/implants7/henry_ba_trim.jpg?rl=f" alt="Henry before and after">
            </div>
            <div class=" col-sm-12 col-md-5 col-lg-7">
                    <a class="openForm circle-price" href="#"><img src="/images/implants7/circle_both.png"></a>
                    <h2 class="d-none d-md-block pb-1">Say goodbye to dentures and <strong>permanently replace</strong> missing teeth.</h2>
                    <p>We specialise in difficult cases which other dentists have dismissed as beyond repair.</p>
                    <ul class="tick-list">
                        <li>World's Leading Dental Implants</li>
                        <li>Lifetime Guarantee</li>
                        <li>Up to 5 Years 0% Finance</li>
                        <li>Unbeatable Price and Quality</li>
                        <li>One of UK's Largest Implant Providers</li>
                    </ul>
                    <button class="openForm btn submit full mb-3 hide-md-lg" name="submitB" value="BOOK NOW">Book <span class="hideMe">Your </span><strong>Free Consultation</strong><span class="hideMe"> Now</span></button>

            </div>
        </div>
    </div>
</div>