<div id="leading">
    <div class="v-center-flex bg-glass-water sections fill">
        <h2 class="sections-hed"><strong>World's Leading</strong> Dental Implants</h2>

        <div class="sections ">
            <div class="container">
                <div class="row">
                    <div class=" col-sm-12 col-md-4 col-lg-5 ">

                    </div>
                    <div class=" col-sm-12 col-md-7 col-lg-7">
                        <div class="text-center mb-3">
                            <img src="/images/nobel_logo_large.png" alt="Nobel" class="w-30">
                        </div>
                        <div class="panel dark-blue pad-40 ">
                            <h3 class="mb-3">"No-one should die with their teeth in a glass of water."</h3>
                            <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a pioneer in dental implantology, as our preferred partner. Building on <strong>over 50 years</strong> at the forefront of dental reconstructive technology, Nobel is the world's leading implant manufacturer.</p>
                            <p>Every new Nobel product is carefully engineered and tested to provide you with safe and long-lasting dental solutions. A tradition that translates into new quality of life for people like you every day.</p>
                            <p><em>Professor Per-Ingvar Brånemark</em><em>Discoverer of osseointegration</em></p>
                            <img src="/images/implants7/per.png" alt="Portrait of Per-Ingvar Brånemark" class="circle-doc ">
                        </div>
                        <div class="float-btn">
                            <button class="openForm btn submit full big mt-3 " name="submitC" value="BOOK NOW">Book <span class="hideMe">Your </span><strong>Free Consultation</strong><span class="hideMe"> Now</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>