<div class="v-center-flex splash-autumn sections fill" id="guarantee">
    <h2 class="sections-hed">Lifetime <strong>Guarantee</strong></h2>
    <div class="sections ">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-5 col-lg-5 ">
                </div>
                <div class=" col-sm-12 col-md-7 col-lg-7">

                    <h2 class="hed-w-s text-center">Total Peace Of Mind.</h2>
                    <div class="panel dark-blue pad-40 ">
                        <img src="/images/tick_big_white.png" class="big-tick" alt="tick">
                        <h3 class="mb-3">Lifetime Manufacturer's Guarantee</h3>
                        <p>The dental implant manufacturer's guarantee covers the very rare scenario of implant
                            component fracture, undertaking to replace any implant component for a specified
                            timeframe.</p>
                        <p><a href="#" class="guaranteePopup">+ Full Nobel Lifetime Manufacturer's Guarantee</a></p>

                    </div>
                    <button class="openForm btn submit full big mt-3 hide-md-lg" name="submitD" value="BOOK NOW">Book <span
                            class="hideMe">Your </span><strong>Free Consultation</strong><span
                            class="hideMe"> Now</span></button>

                </div>
            </div>
        </div>
    </div>
</div>