<div class="sections " id="whyus">
    <div class="row section sectionHeading">
        <div class="container">
            <h2>Why <strong>Finest Dental</strong></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-md-4  col-sm-4 col-xs-4 ">
                    <p><img src="assets/images/implants_ba_gary.jpg" alt="Gary" class="embed-responsive rounded"></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 ">
                    <p><img src="assets/images/beforeafter2.jpg" alt="BA1" class="embed-responsive rounded"></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 ">
                    <p><img src="assets/images/ba_henry_split.jpg" alt="BA2" class="embed-responsive rounded"></p>
                </div>
        </div>
    </div>
</div>
