// General Style

#downloadInvisBrochure {
  background: url($imgPathRoot + "invis_brochure.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 140px;
  height: 150px;
  padding-left: 160px;
  font-size: 30px;
  line-height: 135px;
  transition: all 0.5s;
  margin-bottom: 20px;
  small {
    font-size: 45%;
    font-style: italic;
    display: inline-block;
    background-color: #bbbbbb;
    color: white;
    padding: 5px;
    line-height: 100%;
    border-radius: 3px;
    position: relative;
    top: -4px;
    margin-left: 10px;
  }
}

.portrait {
  background: url($imgPathRoot + "shallowsplash/newbg2.jpg");
}

.img-4-girls {
  background: url($imgPathRoot + "shallowsplash/splash_girls_extended.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-autumn {
 background: url($imgPathRoot + "shallowsplash/splash_autumn_flip.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-couple {
  background: url($imgPathRoot + "implants7/old_couple.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

.bg-glass-water {
  background: url($imgPathRoot + "implants7/teeth_in_glass.jpg");

  background-size: cover;
  background-attachment: fixed;
  @include media-breakpoint-up(lg) {
    background-position: center center;

  }
  @include media-breakpoint-down(md) {

    background-position: center center;
  }
  @include media-breakpoint-down(sm) {
    background-position: left top;
  }
  @include media-breakpoint-down(xs) {
    background-position: left top;
  }

}


.img-five-year {
  background: url($imgPathRoot + "zero-finance-available.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 120px;
  width: 300px;
  display: inline-block;
}

.img-free-consult {

  a {

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    transition-duration: 0.3s;
    transition-property: transform;

    background: url($imgPathRoot + "free-consultation.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100px;
    width: 200px;
    display: inline-block;
    &:hover {
      transform: scale(1.1) rotate(4deg);
    }
  }
}

.img-five-star {
background: url($imgPathRoot + "rated-excellent.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 130px;
  width: 200px;
  display: inline-block;
}


.circle-price {
  z-index: 5;
  position: absolute;
  bottom: 75px;
  right: 0;
  height: 120px;
  width: 120px;
  display: inline-block;
  img {
    width: 100%;
  }

}

.big-tick {
  z-index: 1;
  position: absolute;

  @include media-breakpoint-up(lg) {
    bottom: 110px;
    right: 40px;
    height: 120px;
    width: 120px;

  }
  @include media-breakpoint-down(md) {
    bottom: 110px;
    right: 40px;
    height: 100px;
    width: 100px;

  }
  @include media-breakpoint-down(sm) {
    bottom: 20px;
    right: 40px;
    height: 120px;
    width: 120px;
  }
  @include media-breakpoint-down(xs) {
    bottom: 20px;
    right: 40px;
    height: 90px;
    width: 90px;
  }


}


.circle-doc {
  z-index: 5;
  position: absolute;
  bottom: 120px;
  right: 40px;
  height: 120px;
  width: 120px;


  @include media-breakpoint-up(lg) {
    display: inline-block;

  }
  @include media-breakpoint-down(md) {

    display: inline-block;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
  img {
    width: 100%;
  }
}