// General Style

#downloadInvisBrochure {
  background: url($imgPathRoot + "invis_brochure.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 140px;
  height: 150px;
  padding-left: 160px;


  transition: all 0.5s;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    line-height: 150px;
    font-size: 35px;
  }
  @include media-breakpoint-down(md) {
    line-height: 40px;
    font-size: 35px;
  }
  @include media-breakpoint-down(sm) {
    line-height: 35px;
    font-size: 25px;
  }
  @include media-breakpoint-down(xs) {
    line-height: 30px;
    font-size: 25px;
  }

  small {
    font-size: 45%;
    font-style: italic;
    display: inline-block;
    background-color: #bbbbbb;
    color: white;
    padding: 5px;
    line-height: 100%;
    border-radius: 3px;
    position: relative;
    top: -4px;
    margin-left: 10px;
  }
}

.portrait {
  background: url($imgPathRoot + "newbg2.jpg");
}

.location {
  background: url($imgPathRoot + "shallowsplash/splash_hooray.jpg");
   blockquote {
    background-color: rgba(255,255,255,0.9);
  }
}


.img-map {
  background: url($imgPathRoot + "img-map.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


.img-4-girls {
  background: url($imgPathRoot + "shallowsplash/splash_girls_extended.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.img-skater-girl {
  background: url($imgPathRoot + "shallowsplash/splash_skater_reversed.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-autumn {
 background: url($imgPathRoot + "new-age-modern-partners.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-couple {
  background: url($imgPathRoot + "implants7/old_couple.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

.bg-glass-water {
  background: url($imgPathRoot + "implants7/teeth_in_glass.jpg");

  background-size: cover;
  background-attachment: fixed;
  @include media-breakpoint-up(lg) {
    background-position: center center;

  }
  @include media-breakpoint-down(md) {

    background-position: center center;
  }
  @include media-breakpoint-down(sm) {
    background-position: left top;
  }
  @include media-breakpoint-down(xs) {
    background-position: left top;
  }

}

.circle-price {
  z-index: 5;
  position: absolute;
  bottom: 75px;
  right: 0;
  height: 120px;
  width: 120px;
  display: inline-block;
  img {
    width: 100%;
  }

}

.big-tick {
  z-index: 1;
  position: absolute;
  @include media-breakpoint-up(xl) {
    bottom: 20px;
    right: 40px;
    height: 120px;
    width: 120px;

  }
  @include media-breakpoint-up(lg) {
    bottom: 20px;
    right: 40px;
    height: 110px;
    width: 110px;

  }
  @include media-breakpoint-down(md) {
    bottom: 40px;
    right: 40px;
    height: 90px;
    width: 90px;

  }
  @include media-breakpoint-down(sm) {
    bottom: 20px;
    right: 40px;
    height: 120px;
    width: 120px;
  }
  @include media-breakpoint-down(xs) {
    bottom: 20px;
    right: 40px;
    height: 90px;
    width: 90px;
  }


}





.icon-container-cs {

  @include media-breakpoint-up(xs) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include media-breakpoint-up(sm) {
    width: 100%;
    padding-top: 10px;
  }
  @include media-breakpoint-up(md) {
    width: 100%;
    padding-top: 20px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 20px;
    width: 75%;
    margin: 0 auto;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.img-free-consult {

    @include media-breakpoint-up(xs) {
      height: 50px;
      width: 45%;
      margin: 0 auto;
      display: block;

    }
    @include media-breakpoint-up(sm) {
      height: 60px;
      width: 50%;
      margin: 0 auto;
      display: block;
    }
    @include media-breakpoint-up(md) {
      height: 70px;
      width: 200px;
      margin: 0 auto;
      display: block;
    }
    @include media-breakpoint-up(lg) {
      height: 80px;
      width: 200px;
      display: block;
    }
    text-indent: -2999px;
    background-image: url($imgPathRoot + "img-free-consult@2x.png");
    background-image:
            linear-gradient(transparent, transparent),
            url($imgPathRoot + "img-free-consult.svg");

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;


    &:hover {
      transform: scale(1.1) rotate(4deg);
    }

}

.img-5-years {
  display: block;
  background-image: url($imgPathRoot + "img-5-years@2x.png");
  background-image:
          linear-gradient(transparent, transparent),
          url($imgPathRoot + "img-5-years.svg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @include media-breakpoint-up(xs) {
    height: 50px;
    width: 45%;
    margin: 0 auto;

  }
  @include media-breakpoint-up(sm) {
    height: 60px;
    width: 200px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(md) {
    height: 70px;
    width: 200px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(lg) {
    height: 80px;
    width: 200px;
  }
}

.img-five-star {
  @include media-breakpoint-up(xs) {
    height: 80px;
    width: 80px;
    margin: 0 auto;

  }
  @include media-breakpoint-up(sm) {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(md) {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(lg) {
    height: 80px;
    width: 80px;
  }
  background-image: url($imgPathRoot + "img-rated-excellent@2x.png");
  background-image:
          linear-gradient(transparent, transparent),
          url($imgPathRoot + "img-rated-excellent.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;


}

.img-res-mobile {
  @include media-breakpoint-up(xs) {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  @include media-breakpoint-up(sm) {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  @include media-breakpoint-up(md) {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}

.tiad-circ {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  img {
    width: 100%;
  }
  @include media-breakpoint-up(xs) {
    height: 100px;
    width: 100px;


  }
  @include media-breakpoint-up(sm) {
    height: 100px;
    width: 100px;

  }
  @include media-breakpoint-up(md) {
    height: 120px;
    width: 120px;

  }
  @include media-breakpoint-up(lg) {
    height: 120px;
    width: 120px;
  }
}

.circle-doc {
  z-index: 5;
  position: absolute;

  height: 120px;
  width: 120px;
  @include media-breakpoint-up(xl) {
    display: inline-block;
    bottom: 25px;
    right:  25px;

  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 480px) {
    display: inline-block;
    bottom: 25px;
    right:  25px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    bottom: 25px;
    right:  25px;
  }



  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 540px) {
    bottom: 25px;
    right:  25px;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    bottom: 25px;
    right:  25px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    bottom: 25px;
    right:  25px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    bottom: 25px;
    right:  25px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    bottom: 25px;
    right:  25px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }


  img {
    width: 100%;
  }
}


.img-v1-zero {
  background-image: url($imgPathRoot + "zero-finance-available.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100%;
}


.img-v2-zero {
  background-image: url($imgPathRoot + "zero-finance-available.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100%;
  margin: 15px auto;
}


.img-v1-free-consult {
  background-image: url($imgPathRoot + "free-consultation.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100%;
  transition:all 0.25s;
  &:hover {
    transform: scale(1.1,1.1);
  }

}
.img-v1-rated-excellent {
  background-image: url($imgPathRoot + "rated-excellent.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100%;
}

.img-v2-rated-excellent {
  background-image: url($imgPathRoot + "rated-excellent-leaf.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100%;
}

.img-bermondsey-collage {
  background: url($imgPathRoot + "implants7/bermondsey_collage.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.hed-price-dental-imp {

  img {

    height: 80px;
  }
}

.zero-fin-circ {
  background: url($imgPathRoot + "zero-finance-circ.png");
  background-position: center center;
  background-size: contain;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 5;

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 480px) {
    top: 85%;
    width: 100px;
    height: 100px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    top: 75%;
    width: 100px;
    height: 100px;
  }



  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 540px) {
    top: 85%;
    width: 120px;
    height: 120px;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    top: 76%;
    width: 100px;
    height: 100px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    top: 75%;
    left: 84%;
    width: 100px;
    height: 100px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    top: 75%;
    left: 84%;
    width: 140px;
    height: 140px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    top: 80%;
    left: 0%;
    width: 150px;
    height: 150px;
  }

}


.hed-rated-leaf-cs {
  background: url($imgPathRoot + "rated-excellent-leaf.jpg");


  background-repeat: no-repeat;

  @include media-breakpoint-up(xs) {
    background-size: 200px 78px;
    padding-right: 0px;
    padding-bottom: 80px;
    min-height: 78px;
    background-position: center bottom;
    text-align: center;
  }
  @include media-breakpoint-up(sm) {
    background-size: 200px 78px;
    padding-right: 200px;
    min-height: 78px;
    background-position: right center;
    text-align: left;
  }

  @include media-breakpoint-up(md) {
    background-size: 200px 78px;
    padding-right: 200px;
    padding-bottom: 0;
    min-height: 78px;
    background-position: right center;
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    background-size: 200px 78px;
    padding-right: 200px;
    padding-bottom: 0;
    min-height: 78px;
    background-position: right center;
  }

}