.icon-row-bg {
  padding: 20px 0;
  @include media-breakpoint-down(md) {
    padding: 0px;
  }

  background-color: lighten($acc1, 45%);

  .icon-row-holder {
    max-width: 1400px;
    margin: 0 auto;
  }

  .icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;


    li {

      @include media-breakpoint-up(lg) {
        flex-basis: auto;
      }
      @include media-breakpoint-down(md) {
        flex-basis: 33.33%;
      }
      @include media-breakpoint-down(sm) {
        flex-basis: 50%;
      }
      @include media-breakpoint-down(xs) {
        flex-basis: 50%;
      }


      display: block;

    }
    .icon-dis {
      @include media-breakpoint-up(lg) {
        padding: 0px 5px;
      }
      @include media-breakpoint-down(md) {
        padding: 10px 10px;
        border-bottom: 1px solid $acc1;
        min-height: 90px;
      }
      @include media-breakpoint-down(sm) {
        padding: 10px 10px;
        border-bottom: 1px solid $acc1;
        min-height: 90px;
      }
      @include media-breakpoint-down(xs) {
        padding: 10px 10px;
        border-bottom: 1px solid $acc1;
        min-height: 90px;
      }

      position: relative;
      &-ico {
        position: absolute;
        font-size: 50px;
        color: $acc1;
        height: 50px;
      }
      &-h1, &-h2 {
        margin-left: 55px;
      }
      &-h1 {
        font-size: 22px;
        color: $acc1;
      }
      &-h2 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $acc3;
      }
    }

  }

}


ul.tick-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-left: 35px;
    position: relative;
    padding-bottom: 8px;
    &:before {
      content: '';
      background: url('/assets/images/tick_big.png');
      background-position: center center;
      background-size: contain;
      height: 20px;
      width: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
