.panel {
  padding: 30px;
  border-radius: 5px;
  &.light {
    background-color: lighten($acc1, 45%);
  }


  h2 {
    @include fluid-type(18px, 25px);
  }
  @include clearfix;

  a {
    @include fluid-type(16px, 18px);
    color: $acc1;
    display: block;
    padding-top: 10px;
  }
}
.sections {

  @include media-breakpoint-up(lg) {
    padding: 3% 0;

  }
  @include media-breakpoint-down(md) {
    padding: 3% 0;

  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  @include media-breakpoint-down(xs) {
    padding: 15px 0;
  }
}
.gl-ch-panel {
  min-height: 310px;
}




.bg-light-blue {
  background-color: $light-blue;
}