<div class="v-center-flex img-map sections fill">
    <div class="sections ">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-12 col-lg-6 ">
                    <div class="map-headings">
                        <h2>Centres Nationwide</h2>
                        <h1> <a href="tel:03332304638" class="xTapNumber236260 txt-c4">0333 2304638</a></h1>
                        <h3>for a FREE consultation</h3>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-12 col-lg-6">
                    <div class="panel-h">
                        <div class="panel-hed">
                            <h2>Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>8</sup></h2>
                        </div>
                        <div class="panel-body">
                            {{>dental-implants-clean-form-no-hed}}

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
