<div id="choose">
    <div class="mb-3"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="mt-3 hed-rated-leaf-cs ">
                    Say goodbye to dentures and permanently replace missing teeth.
                </h1>
            </div>



        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 position-relative">

                <img class="embed-responsive" src="/images/implants7/henry_ba_trim.jpg?rl=f"
                     alt="Henry before and after">
                <div class="full-implants">
                    {{>dental-implants-two}}
                </div>

                <div class="zero-fin-circ"></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="row">
                    <div class="col col-sm-12 col-md-12 col-lg-6">
                        <div class="panel light gl-ch-panel pad-30">
                            <h2>WORLD'S LEADING BRAND</h2>
                            <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a
                                pioneer in dental implantology, as our preferred partner. Nobel is the world's leading
                                implant manufacturer.</p>
                            <img src="/images/nobel_logo_large.png" alt="Nobel" class="w-25 float-right">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="panel light gl-ch-panel pad-30">
                            <h2>LIFETIME GUARANTEE</h2>
                            The dental implant manufacturer's guarantee covers the very rare scenario of implant
                            component fracture, undertaking to replace any implant component for a specified timeframe.
                            <a href="#" class="guaranteePopup">+ Read Full Text</a>
                            <img src="/images/icon_tick_cs.png" alt="Nobel" class=" float-right">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                       <div class="mt-4">
                           {{>dental-implants-clean-form}}
                           {{>dental-implants-clean-form-terms}}
                       </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
