<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block" id="choose">
    <h2 class="sections-hed position-relative">Why choose <strong>Finest Dental</strong></h2>
    <div class="sections container">
        <div class="row">

            <div class="col col-12">

                <!--asdasd-->
                <div class="customStyle">

                    <div class="cs-1 position-relative">

                        <img class="embed-responsive" src="/images/implants7/henry_ba_trim_thin.jpg?rl=f" alt="Henry before and after">
                        <button class="openForm btn submit big full mb-3 hide-md-lg mt-4" name="submitB" value="BOOK NOW">Book <span
                                class="hideMe">Your </span><strong>Free Consultation</strong><span class="hideMe"> Now</span>
                        </button>
                    </div>
                    <div class="cs-2">
                        <div class="panel light cs-col-1 h-100 pad-40 d-flex flex-column justify-content-between">
                            <h2>WORLD'S LEADING BRAND</h2>
                            <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a
                                pioneer in dental implantology, as our preferred partner. Nobel is the world's leading
                                implant manufacturer.</p>

                            <img src="/images/nobel_logo_large.png" alt="Nobel" width="200" class="panel-img-nobel">


                        </div>
                    </div>
                    <div class="cs-3">
                        <div class="panel light cs-col-2 h-100 pad-40  d-flex flex-column justify-content-between">
                            <h2>LIFETIME GUARANTEE</h2>
                            <p>The dental implant manufacturer's guarantee covers the very rare scenario of implant
                                component fracture, undertaking to replace any implant component for a specified timeframe.
                                <a href="#" class="guaranteePopup">+ Read Full Text</a>
                            </p>
                            <img src="/images/icon_tick_cs.png" alt="Nobel"  width="85" class="panel-img-tick">



                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-between pt-3">
                    <div class="img-v1-zero"></div>
                    <div class="img-v1-rated-excellent"></div>
                    <a href="#" class="img-v1-free-consult openForm"></a>
                </div>
                <!--asdasd-->
            </div>
        </div>
    </div>
</div>
