<div class="sections pt-0">
    <div class="container">
        <div class="row">
          <div class="col">
              <div class="divider"></div>
          </div>
        </div>
    </div>
    <h4 class="sections-hed-num"><span>1</span> Unbeatable <strong>Results</strong>...</h4>
    <div class="container">
        <div class="row">
                <div class="col">
                    <p><img src="/images/implants_ba_gary.jpg" alt="Gary" class="embed-responsive rounded"></p>
                </div>
                <div class="col">
                    <p><img src="/images/beforeafter2.jpg" alt="BA1" class="embed-responsive rounded"></p>
                </div>
                <div class="col">
                    <p><img src="/images/ba_henry_split.jpg" alt="BA2" class="embed-responsive rounded"></p>
                </div>
        </div>
    </div>
    <h4 class="sections-hed-num"><span>2</span> ... And Unbeatable <strong>Service</strong>.</h4>
    {{>content-icons}}
    <div class="cta pt-3 text-center">
        <button class="openForm btn submit big hide-md-lg" name="submitF" value="BOOK NOW">
            Book <span class="hideMe">Your </span> <strong>Free Consultation</strong>
            <span class="hide"> Now</span></button>
    </div>
</div>


