

<div class="container section ">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="alt bigger mb-3"><strong>All On 4, All On 6 and Teeth In A Day</strong> are the gold standard in full-mouth dental reconstruction.</h1>
            <h3 class="alt">Come to one of our state-of-the-art clinics in the morning, leave in the afternoon with a complete set of temporary teeth.</h3>
        </div>
    </div>

  {{>tiad-five-icons}}


    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 position-relative ">
            <img class="embed-responsive mb-3" src="/images/implants7/henry_ba_trim.jpg?rl=f"alt="Henry before and after">

        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 ">
            {{>tiad-two-arches}}
            {{>clean-form}}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{>form-tc-meta}}
        </div>
    </div>
</div>