

<div class="container section ">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="alt bigger mb-3"><strong>All On 4, All On 6 and Teeth In A Day</strong> are the gold standard in full-mouth dental reconstruction.</h1>
            <h3 class="alt">Come to one of our state-of-the-art clinics in the morning, leave in the afternoon with a complete set of temporary teeth.</h3>
        </div>
    </div>

  {{>tiad-five-icons}}


    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 position-relative ">
            <img class="embed-responsive mb-3" src="/images/implants7/henry_ba_trim.jpg?rl=f"alt="Henry before and after">

        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 ">
            {{>tiad-two-swop}}
            <div class="panel-h shadow mt-4">
                <div class="panel-hed narrow">
                    Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>8</sup>
                </div>
                <div class="panel-body">
                    {{>dental-implants-clean-form-no-hed}}
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class=" meta-text">
                &nbsp;<sup>{{pricing.singleArch.termsNum}}</sup>. 10% deposit of {{pricing.singleArch.deposit}}, plus 60 payments of {{pricing.singleArch.pmPrice}} at {{pricing.singleArch.interest}} APR. Total paid {{pricing.singleArch.total}}, total interest paid {{pricing.singleArch.interestPayed}}. Subject to availability, terms and conditions apply.
                &nbsp;<sup>{{pricing.bothArch.termsNum}}</sup>. 10% deposit of {{pricing.bothArch.deposit}}, plus 60 payments of {{pricing.bothArch.pmPrice}} at {{pricing.bothArch.interest}} APR. Total paid {{pricing.bothArch.total}}, total interest paid {{pricing.bothArch.interestPayed}}. Subject to availability, terms and conditions apply.
            </p>

            <p class="nb-text mb-0 meta-text">
                <sup>8</sup>{{content.termsRefund}} {{content.termsCredit}}
            </p>
        </div>
    </div>
</div>