<div class="v-center-flex bg-couple sections fill" id="pricing">
    <h2 class="sections-hed">Our <strong>Pricing</strong></h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 position-relative ">
                <div class="panel-h">
                    <div class="panel-hed">
                        <h2 class=" text-center ">Simple. Transparent. <span class="nl-return">All Inclusive.</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">

                                <div class="strip mb-4">
                                    <div class="strip-col">
                                        <div class="strip-item p-0">
                                            <div class="strip-item-img">
                                                <img src="/images/nobel_all_on_4.png" alt="implant image">
                                            </div>
                                            <div class="strip-item-number">
                                                {{pricing.singleArch.qty}}<span>{{pricing.singleArch.name}}</span>
                                            </div>
                                            <div class="strip-item-price big ">
                                                {{pricing.singleArch.total}}  <span>or</span>
                                            </div>

                                            <div class="strip-item-or">or</div>
                                            <div class="strip-item-monthly  small">
                                               {{pricing.singleArch.pmPrice}}<span>/month<sup> {{pricing.singleArch.termsNum}}</sup></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="strip-col">
                                        <div class="strip-item p-0">
                                            <div class="strip-item-img">
                                                <img src="/images/implants7/both_arches.png" alt="implant image">
                                            </div>
                                            <div class="strip-item-number">
                                                {{pricing.bothArch.qty}}<span>{{pricing.bothArch.name}}</span>
                                            </div>
                                            <div class="strip-item-price  big">
                                                {{pricing.bothArch.total}} <span>or</span>
                                            </div>

                                            <div class="strip-item-or">or</div>


                                            <div class="strip-item-monthly  small">
                                                 {{pricing.bothArch.pmPrice}}<span>/month<sup> {{pricing.bothArch.termsNum}}</sup></span>
                                            </div>


                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-sm-12 col-lg-8">
                                <h2>Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>8</sup>
                                </h2>
                                {{>tiad-clean-form-no-hed}}
                            </div>
                            <div class="col-sm-12">
                                <div class="divider "></div>

                                <p class=" meta-text">
                                    &nbsp;<sup>{{pricing.singleArch.termsNum}}</sup>. 10% deposit of {{pricing.singleArch.deposit}}, plus 60 payments of {{pricing.singleArch.pmPrice}} at {{pricing.singleArch.interest}} APR. Total paid {{pricing.singleArch.total}}, total interest paid {{pricing.singleArch.interestPayed}}. Subject to availability, terms and conditions apply.
                                    &nbsp;<sup>{{pricing.bothArch.termsNum}}</sup>. 10% deposit of {{pricing.bothArch.deposit}}, plus 60 payments of {{pricing.bothArch.pmPrice}} at {{pricing.bothArch.interest}} APR. Total paid {{pricing.bothArch.total}}, total interest paid {{pricing.bothArch.interestPayed}}. Subject to availability, terms and conditions apply.
                                </p>

                                <p class="nb-text mb-0 meta-text">
                                    <sup>8</sup>{{content.termsRefund}} {{content.termsCredit}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>