<div class="v-center-flex bg-couple sections fill" id="pricing">
    <h2 class="sections-hed">Our <strong>Pricing</strong></h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 position-relative ">
                <div class="panel-h">
                    <div class="panel-hed">
                        <h2 class=" text-center ">Simple. Transparent. <span class="nl-return">All Inclusive.</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">

                                <div class="strip mb-4">

                                    <div class="strip-col">
                                        <div class="strip-item p-0">
                                            <div class="strip-item-img">
                                                <img src="/images/nobel_all_on_4.png" alt="implant image">
                                            </div>
                                            <div class="strip-item-number">
                                                1<span>arch</span>
                                            </div>

                                            <div class="strip-item-monthly big ">
                                                £64.95<span>/month<sup>6</sup></span>
                                            </div>
                                            <div class="strip-item-or">or</div>

                                            <div class="strip-item-price small ">
                                                <span>or</span> £5,995
                                            </div>
                                        </div>
                                    </div>
                                    <div class="strip-col">
                                        <div class="strip-item p-0">
                                            <div class="strip-item-img">
                                                <img src="/images/implants7/both_arches.png" alt="implant image">
                                            </div>
                                            <div class="strip-item-number ">
                                                2<span>arches</span>
                                            </div>
                                            <div class="strip-item-monthly big ">
                                                £108.28<span>/month<sup>7</sup></span>
                                            </div>

                                            <div class="strip-item-or">or</div>


                                            <div class="strip-item-price small ">
                                                <span>or</span> £9,995
                                            </div>



                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 col-lg-8">
                                <h2>Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>8</sup>
                                </h2>
                                {{>tiad-clean-form-no-hed}}
                            </div>
                            <div class="col-sm-12">
                                <div class="divider "></div>
                                {{>dental-implants-clean-form-terms}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>