<div id="guaranteeModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <p><em>Nobel Biocare provides warranties for certain Nobel Biocare products. The terms and conditions of these warranties are set out in this Nobel Biocare Warranty Program (the&nbsp;<b>“Warranty Program”</b>):</em></p>
                <h2>1. Warranties for Treatment Provider<sup><a href="#footnote-1" class="js-media-lightbox" data-media-lightbox-type="reference">1</a></sup></h2>
                <h3>1.1 Lifetime warranty for implants</h3>
                <p>Nobel Biocare guarantees to replace any Nobel Biocare implant that fails to remain in the bone in which it is implanted. Nobel Biocare will replace free of charge the implant and Nobel Biocare restorative components placed on the implant at the time of failure with the same Nobel Biocare implant and restorative components as installed on the implant at the time of failure (the only possible changes are related to diameter and/or length).</p>
                <h3>1.2 Lifetime warranty for restorative components</h3>
                <p>Nobel Biocare guarantees to replace free of charge any non-temporary and non-provisional Nobel Biocare restorative component that fails with the same restorative component. In addition to the replacement of the failed Nobel Biocare restorative component, Nobel Biocare will also replace free of charge any other non-temporary and non-provisional Nobel Biocare restorative component or the Nobel Biocare implant on which the failed Nobel Biocare restorative component is placed with a Nobel Biocare restorative component or Nobel Biocare implant, if said restorative component or implant needs to be replaced in course of the replacement of the failed Nobel Biocare restorative component.</p>
                <h3>1.3 10-year warranty for Nobel Biocare&nbsp;abutments&nbsp;on Non-Nobel Biocare Implants<sup><a href="#footnote-2" class="js-media-lightbox" data-media-lightbox-type="reference">2</a></sup></h3>
                <p>If a Nobel Biocare non-temporary, non-provisional abutment is placed on Non-Nobel Biocare Implants, the warranty as set out in clause 1.2 above is limited to a period of ten (10) years from the date the&nbsp;abutment&nbsp;was placed on the Non-Nobel Biocare Implant.</p>
                <h3>1.4 Warranty for&nbsp;NobelProcera&nbsp;and Procera Products<sup><a href="#footnote-3" class="js-media-lightbox" data-media-lightbox-type="reference">3</a></sup></h3>
                <p>Notwithstanding the warranties set out in clauses 1.2 and 1.3, for NobelProcera Products and Procera Products Nobel Biocare guarantees to replace free of charge any non-temporary, non-provisional NobelProcera Product or Procera Product that fails within five (5) years after being placed in the patient’s mouth. In addition to the replacement of the failed NobelProcera Product or Procera Product, Nobel Biocare will also replace free of charge any other non-temporary and non-provisional Nobel Biocare restorative component or the Nobel Biocare implant on which the failed NobelProcera Product or Procera Product is placed with a Nobel Biocare restorative component or Nobel Biocare implant, if said restorative component or implant needs to be replaced in course of the replacement of the failed NobelProcera Product or Procera Product. Attachments (primary and secondary parts) and riders for NobelProcera Implant Bars Overdenture are excluded from this warranty.</p>
                <h3>1.5 Replacement of Non-Nobel Biocare Implants<br>
                </h3>
                <p>Nobel Biocare offers to replace a Non-Nobel Biocare Implant with a free Nobel Biocare conical connection implant under the following conditions:</p>
                <p>a. A Non-Nobel Biocare Implant was inserted, for which the safety and efficacy is supported by at least 2-year clinical data for this specific implant based on reported data of a minimum of 10 patients published in a peer-review journal<a href="https://www.nobelbiocare.com/international/en/footer/warranty.html#footnote-4"><sup>4</sup></a>; and</p>
                <p>b. A NobelProcera Product or Procera Product was placed on top of the Non-Nobel Biocare Implant on or after March 1, 2010; and</p>
                <p>c. The warranty for the Non-Nobel Biocare Implant (as given by the manufacturer of the Non-Nobel Biocare Implant) is void or invalid solely because a NobelProcera Product or Procera Product was used on the Non-Nobel Biocare Implant; and</p>
                <p>d. The Treatment Provider provides Nobel Biocare with a copy of the warranty rejection by the manufacturer of the Non-Nobel Biocare Implant; and</p>
                <p>e. The Treatment Provider provides a case documentation to Nobel Biocare (including planning x-ray, post operative x-rays, follow-up x-ray, a photograph of the Non-Nobel Biocare Implant on the day of extraction, the extracted Non-Nobel Biocare Implant and the NobelProcera Product or Procera Product).</p>
                <h2>2. Special Warranty to patient for NobelProcera Implant Bar Overdenture</h2>
                <p>For NobelProcera Implant Bar Overdenture (Patient Guarantee Card), Nobel Biocare guarantees to the patient to replace free of charge any NobelProcera Implant Bar Overdenture that fails within five (5) years after being placed in the patient’s mouth. Attachments (primary and secondary parts) and riders for NobelProcera Implant Bars Overdenture are excluded from this warranty.</p>
                <h2>3. Scope of warranties</h2>
                <p>Any warranty given under this Warranty Program is limited to the replacement of the failed product and of such additional components (implants, restorative components) as set out in clauses 1.1 through 2, respectively (including the costs for shipment of the replacement product(s) to the Treatment Provider). In particular, Nobel Biocare does not compensate the Treatment Provider or the patient for any additional components, tools, treatment costs, or other costs and expenses arising out of or in connection with the replacement of the failed product. In case one of the products that is to be replaced under the warranties set out herein is no longer commercially available, an alternative solution may be chosen.</p>
                <h2>4. Eligibility</h2>
                <h3>4.1</h3>
                <p>To receive the benefits of the warranties set out in clauses 1 and 2, the Treatment Provider must:</p>
                <ol>
                    <li><p>Have solely used original Nobel Biocare surgical and prosthetic components in the patient case in which the Nobel Biocare product failure occurred, including implants, cover screws, healing abutments, permanent abutments, prosthetic screws, prosthetic cylinders, crowns, bridges and bars.</p>
                    </li>
                    <li><p>Have performed the treatment in accordance with Nobel Biocare’s prescribed procedures and instructions as published at the time of the treatment and in accordance with accepted dental practice, in particular did not use any contraindicated implant and restorative techniques.</p>
                    </li>
                    <li><p>Ensure that the patient complies with generally accepted standards of good oral hygiene. For implants, oral hygiene maintenance examinations twice a year are recommended.</p>
                    </li>
                    <li><p>At the time of submission of an Questionnaire for Complaint, Implant Failure (Guarantee) and Implant Fracture, or NobelProcera complaint, have its Nobel Biocare account in good standing, meaning that all payments owing to Nobel Biocare or any affiliated company are current.&nbsp;</p>
                    </li>
                    <li><p>For NobelProcera Products and Procera Products in particular: Have complied with the handling and material instructions of Nobel Biocare as published at the time of preparation, design and finishing.</p>
                    </li>
                </ol>
                <p>Any non-compliance with points (a) through (e), respectively, above will make the warranties set out in this Warranty Program null and void.</p>
                <h3>4.2</h3>
                <p>Nobel Biocare is not obliged to furnish any benefits under this Warranty Program with respect to any Nobel Biocare product, if the failure of the product was caused by trauma or by the patient.</p>
                <h3>4.3</h3>
                <p>This Warranty Program does not apply to any products that are specially manufactured or modified at the request of the Treatment Provider as well as temporary implant systems.</p>
                <h2>5. Claims</h2>
                <h3>5.1</h3>
                <p>To raise a claim under this Warranty Program, you have to send a signed, stamped and completed Questionnaire for Complaint, Implant Failure (Guarantee) and Implant Fracture accompanied by the failed product and the other components placed by the Treatment Provider to Nobel Biocare within three months after the product failure occurred. In case of an implant failure, an x-ray of the failed implant is mandatory. Prior to submitting the implant and the other components used in the treatment, ensure that all products are sterilized.</p>
                <h3>5.2</h3>
                <p>For NobelProcera Products and Procera Products, complaint orders must be sent using the NobelProcera Software with the original file name(s) and the appropriate complaint code(s). For NobelProcera Implant Bridges, the complaint questionnaire must be filled out.</p>
                <h2>6. Modification or termination of Warranty Program</h2>
                <p>Nobel Biocare may modify or terminate this Warranty Program at any time in whole or in part. Changes to or the termination of the Warranty Program will not affect the warranties given under this Warranty Program for products installed prior to the date of the change or termination.</p>
                <h2>7. Limitations on Warranty Program</h2>
                <p>EXCEPT FOR THE WARRANTIES DESCRIBED IN CLAUSES 1 AND 2 ABOVE, NEITHER NOBEL BIOCARE NOR ANY AFFILIATED COMPANY WHICH MANUFACTURES OR DISTRIBUTES ANY NOBEL BIOCARE COMPONENTS MAKES ANY WARRANTY WITH RESPECT TO NOBEL BIOCARE COMPONENTS, EXPRESS OR IMPLIED, WRITTEN OR ORAL, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED GUARANTEES OF MERCHANTIBILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
                <p>In addition, Nobel Biocare and its affiliates disclaim all liability to a Treatment Provider for lost earnings, income or profits, failure of a Treatment Provider to conform to generally accepted standards of dental practices and all other direct or indirect, incidental or consequential damages resulting or arising from the design, composition, condition, use or performance of Nobel Biocare components.</p>
                <h2>8. Application of warranty</h2>
                <p>The warranties given under this Warranty Program are exclusively for the benefit of eligible Treatment Providers and are not for any other person or entity, including any patient, except for the warranty given directly to the patient in clause 2 above.</p>
                <h2>9. Entire agreement</h2>
                <h3>9.1</h3>
                <p>Except as set forth in this Warranty Program, neither Nobel Biocare nor any affiliate of Nobel Biocare makes any representation, warranty, covenant or other undertaking relating to Nobel Biocare products. This Warranty Program sets forth the entire understanding and supersedes all prior agreements and discussions relating to the subject matter contained herein.</p>
                <h3>9.2</h3>
                <p>This Warranty Program applies to all Nobel Biocare companies.</p>
                <h3>9.3</h3>
                <p>For markets served by distributors, other conditions may apply. Please contact your Nobel Biocare representative for information.</p>

            </div>
        </div>
    </div>
</div>




