<div class="strip-cta">
    <div class="strip">
        <div class="strip-col">
            <div class="strip-item first">
                <div class="strip-item-img">
                    <img src="/images/p_implants_single.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.imp1.qty}}<span>{{pricing.imp1.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span>  {{pricing.imp1.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.imp1.pmPrice}}<span>/month<sup>{{pricing.imp1.termsNum}}</sup></span>
                </div>
            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_two.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.imp2.qty}}<span>{{pricing.imp2.name}}</span>
                </div>
                <div class="strip-item-price big ">
                    <span>or</span>  {{pricing.imp2.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.imp2.pmPrice}}<span>/month<sup>{{pricing.imp2.termsNum}}</sup></span>
                </div>


            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_multiple.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.imp3.qty}}<span>{{pricing.imp3.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span>  {{pricing.imp3.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.imp3.pmPrice}}<span>/month<sup>{{pricing.imp3.termsNum}}</sup></span>
                </div>

            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_four.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.imp4.qty}}<span>{{pricing.imp4.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span>  {{pricing.imp4.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.imp4.pmPrice}}<span>/month<sup>{{pricing.imp4.termsNum}}</sup></span>
                </div>

            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_five.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.imp5.qty}}<span>{{pricing.imp5.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span>  {{pricing.imp5.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.imp5.pmPrice}}<span>/month<sup>{{pricing.imp5.termsNum}}</sup></span>
                </div>
            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item arch">
                <div class="strip-item-img">
                    <img src="/images/nobel_all_on_4.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.singleArch.qty}}<span>{{pricing.singleArch.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span>  {{pricing.singleArch.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.singleArch.pmPrice}}<span>/month<sup>{{pricing.singleArch.termsNum}}</sup></span>
                </div>
            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item arch last">
                <div class="strip-item-img">
                    <img src="/images/implants7/both_arches.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    {{pricing.bothArch.qty}}<span>{{pricing.bothArch.name}}</span>
                </div>
                <div class="strip-item-price big">
                    <span>or</span> {{pricing.bothArch.total}}
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    {{pricing.bothArch.pmPrice}}<span>/month<sup>{{pricing.bothArch.termsNum}}</sup></span>
                </div>
            </div>
        </div>
    </div>
</div>