<div class="strip-cta">

    <div class="strip">
        <div class="strip-col">
            <div class="strip-item first">
                <div class="strip-item-img">
                    <img src="/images/p_implants_single.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    1<span>implant</span>
                </div>
                <div class="strip-item-price big">
                    £1,695 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £18.36<span>/month<sup>1</sup></span>
                </div>

            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_two.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    2<span>implants</span>
                </div>
                <div class="strip-item-price big">
                    £3,390 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £36.73<span>/month<sup>2</sup></span>
                </div>


            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">

                <div class="strip-item-img">
                    <img src="/images/p_implants_multiple.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    3<span>implants</span>
                </div>

                <div class="strip-item-price big">
                     £4,485 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">

                    £48.59<span>/month<sup>3</sup></span>
                </div>

            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">
                <div class="strip-item-img">
                    <img src="/images/p_implants_four.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    4<span>implants</span>
                </div>

                <div class="strip-item-price big">
                    £5,980 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £64.78<span>/month<sup>4</sup></span>
                </div>

            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item">

                <div class="strip-item-img">
                    <img src="/images/p_implants_five.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    5<span>implants</span>
                </div>
                <div class="strip-item-price big">
                     £6,750 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £73.13<span>/month<sup>5</sup></span>
                </div>


            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item arch">
                <div class="strip-item-img">
                    <img src="/images/nobel_all_on_4.png" alt="implant image">
                </div>
                <div class="strip-item-number">
                    1<span>arch</span>
                </div>

                <div class="strip-item-price big">
                    £5,995 <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £64.95<span>/month<sup>6</sup></span>
                </div>
            </div>
        </div>
        <div class="strip-col">
            <div class="strip-item arch last">

                <div class="strip-item-img">
                    <img src="/images/implants7/both_arches.png" alt="implant image">
                </div>
                <div class="strip-item-number ">
                    2<span>arches</span>
                </div>

                <div class="strip-item-price big">
                    £9,995  <span>or</span>
                </div>
                <div class="strip-item-or">or</div>
                <div class="strip-item-monthly small">
                    £108.28<span>/month<sup>7</sup></span>
                </div>

            </div>
        </div>
    </div>
</div>