<div class="dental-cards-holder ">
    <div class="dental-cards-col">
        <div class="dental-card">
            <div class="dental-card-img">
                <img src="/images/nobel_all_on_4.png" alt="implant image">
                <div class="tri"></div>
            </div>

            <div class="detntal-details">
                <div class="dental-card-hed">WHOLE ARCH</div>
                <div class="detntal-details_price big">
                    £9,995  <span>or</span>
                </div>

                <div class="detntal-details_monthly small">
                    £108.28<span>/month<sup>7</sup></span>
                </div>
            </div>
        </div>
    </div>
    <div class="dental-cards-col">
        <div class="dental-card">
            <div class="dental-card-img">
                <img src="/images/nobel_all_on_4.png" alt="implant image">
                <div class="tri"></div>
            </div>

            <div class="detntal-details">
                <div class="dental-card-hed">WHOLE ARCH</div>
                <div class="detntal-details_price big">
                    £9,995  <span>or</span>
                </div>
                <div class="detntal-details_monthly small">
                    £108.28<span>/month<sup>7</sup></span>
                </div>
            </div>
        </div>
    </div>
</div>