<div class="dental-cards-holder single">
    <div class="dental-cards-col">
        <div class="dental-card openForm">
            <div class="dental-card-img">
                <img src="/images/p_implants_single.png" alt="implant image">
                <div class="tri"></div>
            </div>

            <div class="detntal-details">
                <div class="dental-card-hed">SINGLE IMPLANTS</div>
                <div class="detntal-details_price big">
                    £1,695 <span>or</span>
                </div>

                <div class="detntal-details_monthly small">
                    £18.36<span>/month<sup>1</sup></span>
                </div>
            </div>
        </div>
    </div>
    <div class="dental-cards-col">
        <div class="dental-card openForm">
            <div class="dental-card-img">
                <img src="/images/nobel_all_on_4.png" alt="implant image">
                <div class="tri"></div>
            </div>

            <div class="detntal-details">
                <div class="dental-card-hed">SINGLE ARCH</div>
                <div class="detntal-details_price big">
                    £5,995 <span>or</span>
                </div>
                <div class="detntal-details_monthly small">
                    £64.95<span>/month<sup>2</sup></span>
                </div>
            </div>
        </div>
    </div>
</div>