<div class="nav-wrapper">
    <div class="main-nav">
        <div class="main-nav_logo"></div>
        <div class="main-nav_links">
            <ul>
                <li><a href="#whyus">WHY FINEST DENTAL</span>?</a></li>
                <li><a href="#pricing"  aria-pressed="true">PRICING</a></li>
                <li><a href="#leading"  aria-pressed="true">WORLD'S LEADING IMPLANTS</a></li>
                <li><a href="#guarantee"  aria-pressed="true">LIFETIME GUARANTEE</a></li>
                <li><a href="#map"  aria-pressed="true">CONTACT US</a></li>
            </ul>
        </div>
        <div class="main-nav_callbtn">
            <a href="tel:{{content.tellnumber}}" class="xTapNumber236260">
                <div class="number">
                    <strong>Free</strong>&nbsp;Consultation
                    <span>{{content.tellnumber}}</span>
                </div>
            </a>
        </div>
    </div>
</div>
