<div class="clients-reviews">
    <div class="review-item">
        <div class="review-item_name">
            Kyle De Sousa
            <div class="star">
                <i></i><i></i><i></i><i></i><i></i>
            </div>
        </div>
        <div class="review-item_disc">
            The outstanding professional staff , are second to none. I’m just over half way through my treatment now and I didn’t think is was this easy 😊😊 dump the dentures and make an appointment, it took me over a ye…
        </div>
        <div class="review-time">Posted 8 hours ago</div>
    </div>
    <div class="review-item">
        <div class="review-item_name">
            Kyle De Sousa
            <div class="star">
                <i></i><i></i><i></i><i></i><i></i>
            </div>
        </div>
        <div class="review-item_disc">
            The outstanding professional staff , are second to none. I’m just over half way through my treatment now and I didn’t think is was this easy 😊😊 dump the dentures and make an appointment, it took me over a ye…
        </div>
        <div class="review-time">Posted 8 hours ago</div>
    </div>
    <div class="review-item">
        <div class="review-item_name">
            Kyle De Sousa
            <div class="star">
                <i></i><i></i><i></i><i></i><i></i>
            </div>
        </div>
        <div class="review-item_disc">
            The outstanding professional staff , are second to none. I’m just over half way through my treatment now and I didn’t think is was this easy 😊😊 dump the dentures and make an appointment, it took me over a ye…
        </div>
        <div class="review-time">Posted 8 hours ago</div>
    </div>
</div>