<div class="container-fluid section bg-grey">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Read The <strong>Reviews</strong></h2>
        </div>
        <div class="clients-reviews owl-carousel">
            <div class="review-item ">
                <div class="review-item_name">
                    Adam Barker
                    <div class="star">
                        <i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Just finished my Implant treatment that I needed from a accident as a child. So happy to throw my denture away! Paula is my dentist at the Cannon Stre…

                </div>
            </div>
            <div class="review-item ">
                <div class="review-item_name">
                    Elliot Baker
                    <div class="star">
                        <i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
                <div class="review-item_disc">
                    The outstanding professional staff , are second to none. I’m just over half way through my treatment now and I didn’t think is was this easy 😊😊 dum…
                </div>
            </div>
            <div class="review-item ">
                <div class="review-item_name">
                    C Green
                    <div class="star">
                        <i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
                <div class="review-item_disc">
                    I have just had an appointment in the Winchester practice and they are all lovely. I was late and called them to ask if they would still see me and th…


                </div>
            </div>
            <div class="review-item ">
                <div class="review-item_name">
                    Sarah A
                    <div class="star">
                        <i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Cannon Street- My first consultation was great! I have been provided with clear explanations on the treatment I want, price and how long it will take-…
                </div>
            </div>
        </div>
    </div>
</div>