<div class="container-fluid section bg-grey">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Read The <strong>Reviews</strong></h2>
        </div>
        <div class="clients-reviews owl-carousel">
            <div class="review-item">
                <div class="review-item_name">
                    Alice
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    I started my treatment a few months ago at the Wokingham branch, and the whole way through I have been so happy with my treatment and the customer service at the practice.  My dentist Rosa is lovely and I trust…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Anonymous
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    highly recommend the Wokingham branch. lovely people
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Duncan
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Nearly finished my treatment in the Winchester branch and im so happy with the results and care i have received so far. Highly recommend.
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Anonymous
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Approaching the halfway mark of my Invisalign treatment, all dentists, nurses and general staff are very accomodating and supportive throughout! Teeth are already looking straighter at competitive rate - thank …
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Lucy
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Had an appointment today in Winchester and everyone in there is really nice. I was late for my appointment and they were so nice about it. Can’t wait to start my treatment with them!
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Anonymous
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Overall very satisfied with Finest Dental Brentwood. Lovely staff very friendly and always smiling. Vicki has looked after me with great care from the beginning and Saba has also been a delight. Dentist Hina wh…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Rosie
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Had a consultation in Wokingham a few days ago and all the staff were amazing. Cant wait to get started on my Invisalign!
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Alex
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Very happy so far with my treatment from the Brentwood clinique the Practice Manager  Vicki is very friendly and helpful . Today Saba today was very friendly . Really happy so far .
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Maddie
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    The Winchester practice is amazing. Lovely and professional staff! Couldn’t ask for a better experience
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Adam Barker
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Just finished my Implant treatment that I needed from a accident as a child.
                    So happy to throw my denture away!
                    Paula is my dentist at the Cannon Street one.
                    Jordan is my Coordinator who set up my finance Inter…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Sarah A
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Cannon Street- My first consultation was great! I have been provided with clear explanations on the treatment I want, price and how long it will take- realistically
                    I have been shown what the outcome will be u…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Katie
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Great Staff! Such friendly dentists!
                    Currently 8 months into Invisalign Treatment- 2 months to go
                    All going smoothly and my teeth look so straight already.
                    I now feel comfortable smiling in pictures, which was…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Sam Proud
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    I attend the Cannon Street branch, I do not normally write reviews unless they are much deserved.
                    All the staff are so friendly and welcoming! The dentists have great knowledge and answered all my questions as …
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Laura Stead
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Winchester Practice - professional, friendly and totally put you at ease! Already recommended them to my friend and will continue to do so. Couldn't recommend them highly enough, what a great team!! This is als…
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Shannon
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Love how well my teeth are looking after 10 months the winchester team are great, very welcoming and friendly
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    James Barker
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Staff in Bermondsey is fantastic and my treatment so far is fantastic as well!
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Anonymous
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    Very friendly and welcoming staff
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Sue S
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    I’ve been having my Invisalign treatment at he Winchester branch for around 7 months now and it was the best thing I have ever done! Sam and Geraldine are always lovely and everyone is very professional.
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    N symonds
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    I have been coming to the Winchester branch for a couple of years now and I have always have a very pleasant experience! The girls are all lovely nd really helpful. Couldn’t ask for better service.
                </div>
            </div>
            <div class="review-item">
                <div class="review-item_name">
                    Elliot Baker
                    <div class="star">
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                        <i>
                        </i>
                    </div>
                </div>
                <div class="review-item_disc">
                    The outstanding professional staff , are second to none. I’m just over half way through my treatment now  and I didn’t think is was this easy 😊😊 dump the dentures and make an appointment, it took me over a ye…
                </div>
            </div>

        </div>
    </div>
</div>