$navBarH: 54px;

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.main-fill {
  height: 100%;
}

body {

  overflow-x: hidden;
  &.fixed-header {
    margin-top: $navBarH;
  }
}


.v-center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fill {

  position: relative;

  @include media-breakpoint-up(lg) {
    min-height: 100%;
  }
  @include media-breakpoint-down(md) {
    min-height: 100%;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
  }
  @include media-breakpoint-down(xs) {
    min-height: auto;
  }
}

#cover {
  position:fixed;
  top:0;
  left:0;
  background-color:#E5E6E4;
  background:rgba(0,0,0,0.75);
  z-index:1000;
  width:100%;
  height:100%;
  display:none;
}

.underlay {
  margin-top: -131px;

}


.divider {
  border-top: 2px solid $gray-200;
  margin-top: 10px;
  padding-bottom: 20px;
}