.text-col-left {
  position: relative;
  z-index: 101;
}

#floater {
  position: fixed;
  width: 100%;
  top: -5px;
  bottom: 0;
  z-index: 100;
  right: -80px;
  @include media-breakpoint-up(xl) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

#csfloater {
  position: fixed;
  width: 100%;
  top: 49px;
  bottom: 0;
  z-index: 100;
  right: 0;
  @include media-breakpoint-up(xl) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

#floaterCol {
  height: 100%;
  position: relative;
  background-color: #4d9652;

  h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 12px;

  }
  .phoneLink {
    margin-top: 0;
    margin-bottom: 25px;
    position: static;
    margin-top: 10px;
  }
  #quote {
    position: absolute;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.25); */
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    h3 {
      margin-left: 0;
      margin-right: 0;
      margin-top: -5px;
    }

    p {
      float: left;
      width: 50%;
      font-size: 15px;
      line-height: 19px;
      padding-top: 0;
      color: white;
      text-align: right;
      margin-top: 19px;
      font-weight: 300;
    }
    img {
      float: right;
      width: 45%;
      margin-bottom: 15px;
    }
  }
  .btn-primary {
    color: $white ;
    background-color: #1454ab;
    transition:all 0.4s;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 35px;
    &:hover,  &:active, &:focus {
      color: $white ;
      transform: scale(1.1);
    }
  }
}

.nameCol, .postcodeCol, .emailCol {
  padding-left: 7.5px;
  padding-right: 7.5px;
}


.nameRow, .postcodeRow, .emailRow {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.phoneLink {
  text-align: center;
  margin-bottom: 25px;
  position: static;
  margin-top: 10px;
  font-size: 26px;
  span {
    position: relative;
    font-size: 30px;
    line-height: 23px;
    top: 3px;
    margin-right: 5px;
    &:before {
      color: $white;
    }
  }

}