// General Style




.splash-autumn {
  background: url('/assets/images/shallowsplash/splash_autumn_flip.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-couple {
  background: url('/assets/images/implants7/old_couple.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

.bg-glass-water {
  background: url('/assets/images/implants7/teeth_in_glass.jpg');

  background-size: cover;
  background-attachment: fixed;
  @include media-breakpoint-up(lg) {
    background-position: center center;

  }
  @include media-breakpoint-down(md) {

    background-position: center center;
  }
  @include media-breakpoint-down(sm) {
    background-position: left top;
  }
  @include media-breakpoint-down(xs) {
    background-position: left top;
  }

}


.img-five-year {
  background: url('/assets/images/up-to-5-years-0-finance-available.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100px;
  width: 200px;
  display: inline-block;
}

.img-free-consult {
  background: url('/assets/images/free-consultation.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100px;
  width: 200px;
  display: inline-block;
}

.img-five-star {
  background: url('/assets/images/5star-rated-excellent.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100px;
  width: 200px;
  display: inline-block;
}


.circle-price {
  z-index: 5;
  position: absolute;
  bottom: 75px;
  right: 0;
  height: 120px;
  width: 120px;
  display: inline-block;
  img {
    width: 100%;
  }

}

.big-tick {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 20px;
  height: 120px;
  width: 120px;



}


.circle-doc {
  z-index: 5;
  position: absolute;
  bottom: 120px;
  right: 40px;
  height: 120px;
  width: 120px;


  @include media-breakpoint-up(lg) {
    display: inline-block;

  }
  @include media-breakpoint-down(md) {

    display: inline-block;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
  img {
    width: 100%;
  }
}