<div class="gradientBg">
    <div class="container content-main text-col-wide">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
                <div class="row section">

                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <h1 class="text-center">
                            Why Choose
                            <strong>
                                Finest Dental
                            </strong>
                            ?
                        </h1>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="whyBullets">
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        UK's
                                        <strong>
                                            #1
                                        </strong>
                                        Invisalign Provider 2017
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        <strong>
                                            Free
                                        </strong>
                                        consultation
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Financing available
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        State-of-the-art
                                        <a class="play" data-iframe='<iframe width="560" height="315" data-src="https://www.youtube.com/embed/8qQ8Cg-ja-k" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/8qQ8Cg-ja-k?autoplay=1"></iframe>' href="#">
                                            ▶ iTero
                                            <sup>
                                                ®
                                            </sup>
                                            scanner
                                        </a>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Free OPG X-ray (worth
                                        <strong>
                                            £85
                                        </strong>
                                        )
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Unlimited guarantee
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        <a href="locations.html">
                                            7 Clinics
                                        </a>
                                        nationwide
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p class="bigText hidden-sm hidden-xs">
                                    Perfect alignment.
                                    <br>
                                    <strong>
                                        Minimal irritation.
                                    </strong>
                                    <br>
                                    Completely invisible.
                                    </br>
                                    </br>
                                </p>
                                <p>
                                    During your initial consultation, our experts will make a detailed evaluation of your specific case and put together a customised treatment plan just for you. We use the
                                    <a class="play" data-iframe='<iframe width="560" height="315" data-src="https://www.youtube.com/embed/4jfcKwGYlFY" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/4jfcKwGYlFY?autoplay=1"></iframe>' href="#">
                                        <strong>
                                            ▶ latest technology
                                        </strong>
                                    </a>
                                    to get the best possible results.
                                </p>
                                <p>
                                    Invisalign can successfully treat overcrowding, wide-spaced teeth, irregular teeth, crossbite, underbite and overbite and a range of other dental issues.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>