<div class="container content-main section text-col-wide">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
            <div class="row">
                <h1 class="text-center col-12">
                    Invisalign
                    <strong>
                        Prices
                    </strong>
                </h1>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 ">
                    <div class="row" id="prices">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">
                                <span class="hidden-xs">
                                    Invisalign
                                    <sup>
                                        ®
                                    </sup>
                                </span>
                                i7
                            </p>
                            <p class="pricePrice">
                                <span class="monthly">
                                            £28/month
                                        </span>
                                <strike>
                                    £3,000
                                </strike>
                                <br>
                                £1,500 or
                                <br>

                                </br>
                                </br>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">
                                <span class="hidden-xs">
                                    Invisalign
                                    <sup>
                                        ®
                                    </sup>
                                </span>
                                Lite
                            </p>
                            <p class="pricePrice">
                                 <span class="monthly">
                                            £47/month
                                        </span>
                                <strike>
                                    £3,250
                                </strike>
                                <br>
                                £2,495 or
                                <br>

                                </br>
                                </br>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">
                                <span class="hidden-xs">
                                    Invisalign
                                    <sup>
                                        ®
                                    </sup>
                                </span>
                                Full
                            </p>
                            <p class="pricePrice">
                                <span class="monthly">
                                            £57/month
                                        </span>
                                <strike>
                                    £3,750
                                </strike>
                                <br>
                                £2,995 or
                                <br>

                                </br>
                                </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="clear">
                        <p class="text-center">
                            All our aligner prices are all inclusive with no hidden extras. Monthly finance figures are based on a 5-year payment plan.
                        </p>
                    </div>
                    <div class="row" id="boxes">
                        <div class="col-xs-12 col-sm-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-history">
                                </i>
                                <h3>
                                    Interest-free finance
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-users">
                                </i>
                                <h3>
                                    Free consultation
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-camera">
                                </i>
                                <h3>
                                    Free OPG X-Ray
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-screen">
                                </i>
                                <h3>
                                    iTero Scan
                                    <a class="play" data-iframe='<iframe width="560" height="315" data-src="https://www.youtube.com/embed/8qQ8Cg-ja-k" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/8qQ8Cg-ja-k?autoplay=1"></iframe>' href="#">
                                        ▶ Video
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>