<div class="parallax portrait">
    <div class="container content-main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <blockquote>
                    <h2>
                        Our dentists provide Invisalign treatment to over 1,500 new patients every year!
                    </h2>
                </blockquote>
                <div>
                </div>
                <a class="openForm btn btn-primary" href="#">
                    Book Your Free Consultation
                </a>
            </div>
        </div>
    </div>
</div>