<div class="parallax location">
    <div class="container content-main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
                <blockquote>
                    <h2>
                        Up to 50% off selected Invisalign
                        <sup>
                            ®
                        </sup>
                        treatments
                    </h2>
                    <p>
                        <strong>
                            For a limited period, save up to 50% off selected Invisalign treatments!
                        </strong>
                        <strong>
                            Terms apply.
                        </strong>
                    </p>
                </blockquote>
                <div>
                </div>
                <a class="openForm btn btn-primary" href="#">
                    Book Your Free Consultation
                </a>
            </div>
        </div>
    </div>
</div>