<div class="parallax img-map">
    <div class="container content-main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <blockquote>
                    <div class="map-headings">
                        <h2>Centres Nationwide</h2>
                        <h1> <a href="tel:03332304638" class="xTapNumber236260 txt-c4">0333 2304638</a></h1>
                        <h3>for a FREE consultation</h3>
                    </div>
                </blockquote>
                <div>
                </div>
                <a class="openForm btn btn-primary" href="#">
                    Book Your Free Consultation
                </a>
            </div>
        </div>
    </div>
</div>