<div class="meta-text mt-3">
    <p><sup>1</sup>Deposit of £2098.00, plus 60 payments of £64.95 at 0% APR. Subject to
        availability, terms and conditions apply. One-off payment cost: £5,995.00. <sup>2</sup>Deposit
        of £3,498.25, plus 60 payments of £108.28 at 0% APR. Subject to availability, terms and
        conditions apply. One-off payment cost: £9,995.00.</p>
    <p class="nb-text mb-0"><strong>Finance subject to a minimum of 16 working hours per week and a
        suitable credit
        history.</strong></p>
    <p class="nb-text "><strong><sup>8</sup>A £50 refundable deposit will be required at the point of
        booking.
        This
        will be returned to you on the day of your consultation.</strong></p>
</div>