<div class="sections container d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <div class="row">
        <div class="col col-5">
            <img class="embed-responsive" src="assets/images/implants7/henry_ba_trim.jpg?rl=f" alt="Henry before and after">
        </div>
        <div class="col col-7">
            <div class="row d-print-flex d-lg-flex xl-lg-flex">
                <div class="col col-sm-12 col-md-6 ">
                    <div class="panel light gl-ch-panel">
                        <h2>WORLD'S LEADING BRAND</h2>
                        <p>To fulfill our commitment to excellence, we have chosen <strong>NOBEL BIOCARE</strong>, a pioneer in dental implantology, as our preferred partner. Nobel is the world's leading implant manufacturer.</p>
                        <img src="assets/images/nobel_logo_large.png" alt="Nobel" class="w-50 float-right">
                    </div>
                </div>
                <div class="col col-sm-12 col-md-6">
                    <div class="panel light gl-ch-panel">
                    <h2>LIFETIME GUARANTEE</h2>
                    The dental implant manufacturer's guarantee covers the very rare scenario of implant component fracture, undertaking to replace any implant component for a specified timeframe.
                        <a href="#" class="guaranteePopup">+ Read Full Text</a>
                        <img src="assets/images/icon_tick_cs.png" alt="Nobel" class=" float-right">
                    </div>
                </div>
                <div class="col col-sm-12 col-md-12 ">
                    <div class="d-flex justify-content-between pt-3">
                        <div class="img-five-year"></div>
                        <div class="img-free-consult"></div>
                        <div class="img-five-star"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

