<div class="icon-row-bg">
   <div class="icon-row-holder">
       <ul class="icon-list">
           <li>
               <div class="icon-dis">
                   <span class="icon-dis-ico lnr lnr-cart"></span>
                   <div class="icon-dis-h1">5</div>
                   <div class="icon-dis-h2">Years 0% finance </div>
               </div>
           </li>
           <li>
               <div class="icon-dis">
                   <span class="icon-dis-ico lnr lnr-map-marker"></span>
                   <div class="icon-dis-h1">11</div>
                   <div class="icon-dis-h2">Clinics nationwide</div>
               </div>
           </li>
           <li>
               <div class="icon-dis">
                   <img src="/images/implants7/implant_icon_blue.png" alt="Implant icon" class="icon-dis-ico">
                   <div class="icon-dis-h1">5000+</div>
                   <div class="icon-dis-h2">Implants per year</div>
               </div>
           </li>
           <li>
               <div class="icon-dis">
                   <span class="icon-dis-ico lnr lnr-smile"></span>
                   <div class="icon-dis-h1">98%</div>
                   <div class="icon-dis-h2">Success rate</div>
               </div>
           </li>
           <li>
               <div class="icon-dis">
                   <span class="icon-dis-ico lnr lnr-star"></span>
                   <div class="icon-dis-h1">97%</div>
                   <div class="icon-dis-h2">5-star reviews</div>
               </div>
           </li>


           <li>
               <div class="icon-dis">
                   <span class="icon-dis-ico lnr lnr-camera"></span>
                   <div class="icon-dis-h1">FREE</div>
                   <div class="icon-dis-h2">CBCT X-Ray</div>
               </div>
           </li>
       </ul>
   </div>
</div>