<div class="v-center-flex old-people sections fill">
    <div class="container">
        <div class="strip-cta">
            <h2 class="hed-w-s text-center">Simple. Transparent. All Inclusive.</h2>
            <div class="strip">
                <div class="strip-col">
                    <div class="strip-item first">
                    <div class="strip-item-img">
                        <img src="assets/images/p_implants_single.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        1<span>implant</span>
                    </div>
                    <div class="strip-item-monthly">
                        £18.36<span>/month<sup>1</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £1,695
                    </div>
                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item">
                    <div class="strip-item-img">
                        <img src="assets/images/p_implants_two.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        2<span>implants</span>
                    </div>
                    <div class="strip-item-monthly">

                        £36.73<span>/month<sup>2</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £3,390
                    </div>

                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item">

                    <div class="strip-item-img">
                        <img src="assets/images/p_implants_multiple.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        3<span>implants</span>
                    </div>
                    <div class="strip-item-monthly">

                        £48.59<span>/month<sup>3</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £4,485
                    </div>

                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item">

                    <div class="strip-item-img">
                        <img src="assets/images/p_implants_four.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        4<span>implants</span>
                    </div>
                    <div class="strip-item-monthly">

                        £64.78<span>/month<sup>4</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £5,980
                    </div>

                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item">

                    <div class="strip-item-img">
                        <img src="assets/images/p_implants_five.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        5<span>implants</span>
                    </div>
                    <div class="strip-item-monthly">

                        £73.13<span>/month<sup>5</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £6,750
                    </div>

                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item arch">
                    <div class="strip-item-img">
                        <img src="assets/images/nobel_all_on_4.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        1<span>arch</span>
                    </div>
                    <div class="strip-item-monthly">

                        £64.95<span>/month<sup>6</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £5,995
                    </div>
                </div>
                </div>
                <div class="strip-col">
                    <div class="strip-item arch last">

                    <div class="strip-item-img">
                        <img src="assets/images/implants7/both_arches.png" alt="implant image">
                    </div>
                    <div class="strip-item-number">
                        2<span>arches</span>
                    </div>
                    <div class="strip-item-monthly">

                        £108.28<span>/month<sup>7</sup></span>
                    </div>
                    <div class="strip-item-price">
                        <span>or</span> £9,995
                    </div>

                </div>
                </div>
            </div>
        </div>
        <div class="cta pt-3 text-center">
            <button class="openForm btn submit big" name="submitC" value="BOOK NOW">
                Book <span class="hideMe">Your </span> <strong>Free Consultation</strong>
                <span class="hide"> Now</span></button>
        </div>
    </div>
</div>



