<ul class="social">
    <li><a href="https://www.instagram.com/finest_dental" target="_blank">
        <img src="../images/icon_in_w.png" alt="Facebook icon"/></a></li>

    <li><a href="https://www.facebook.com/FinestDental/" target="_blank">
        <img src="../images/icon_fb_w.png" alt="Facebook icon"/></a></li>

    <li><a href="https://twitter.com/Original_FD" target="_blank">
        <img src="../images/icon_tw_w.png" alt="Twitter icon"/></a></li>

    <li><a href="https://www.youtube.com/channel/UCfSjgiy63qzMwM0QiNKO7ag" target="_blank">
        <img src="../images/icon_yt_w.png" alt="Youtube icon"/></a></li>
    </li>
</ul>