<div class="subheader-cta-video">
        <h1>"Finest Dental <strong>changed my life</strong>."</h1>
        <h2>
            <strong>Dental Implants</strong> Case Study
            <a class="play" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/5bNSR8vXM7A?autoplay=1&quot; frameborder=&quot;0&quot; gesture=&quot;media&quot; allow=&quot;encrypted-media&quot; allowfullscreen></iframe>" href="#" target="_blank" title="Henry's testimonial">
                Watch&nbsp;Video&nbsp;
                <img src="../assets/images/chevron_right.png" alt="chevron"></a>
        </h2>

        <div class="henry-video">
            <a class="play" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/5bNSR8vXM7A?autoplay=1&quot; frameborder=&quot;0&quot; gesture=&quot;media&quot; allow=&quot;encrypted-media&quot; allowfullscreen></iframe>" href="#" target="_blank" title="Henry's testimonial">
            <img src="../assets//images/henry_circle.png" alt="Henry Baker portrait"></a>
        </div>

</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
    Launch demo modal
</button>