<nav class="navbar navbar-expand-md fixed blue-fill">
    <a class="navbar-brand" href="#" target="_self">Finest Dental UK</a>
    <div class="nav-anchor">
        <ul>
            <ul>
                <li><a href="#choose"  aria-pressed="true">WHY CHOOSE FINEST DENTAL</a></li>
                <li><a href="#pricing"  aria-pressed="true">PRICING</a></li>
                <li><a href="#3monthsmile"  aria-pressed="true"><span class="nonmob">3 MONTH </span>SMILE</a></li>

                <li><a href="#faq">FAQ'S</a></li>
            </ul>
        </ul>
    </div>

    <div class="btn book">
        <i class="lnr lnr-phone-handset"></i>
        <div id="phoneButtonText">
            <div><strong>Free</strong>&nbsp;Consultation</div>
            <a href="tel:03332304638" class="xTapNumber236260">0333 2304638</a>
        </div>
    </div>
</nav>
