<nav class="navbar navbar-expand-md fixed blue-fill">
    <a class="navbar-brand" href="#" target="_self">Finest Dental UK</a>
    <div class="nav-anchor">
        <ul>
            <li><a href="#pricing"  aria-pressed="true">PRICING</a></li>
            <li><a href="#choose"  aria-pressed="true">WHY CHOOSE FINEST DENTAL</a></li>
            <li><a href="#leading"  aria-pressed="true"><span class="nonmob">WORLD'S </span>LEADING IMPLANTS</a></li>
            <li><a href="#guarantee"  aria-pressed="true"><span class="nonmob">LIFETIME </span>GUARANTEE</a></li>
            <li><a href="#whyus">WHY <span class="nonmob">FINEST DENTAL</span><span class="mob">US</span>?</a></li>
        </ul>
    </div>
    <div class="btn book">
        <i class="lnr lnr-phone-handset"></i>
        <div id="phoneButtonText">
            <div><strong>Free</strong>&nbsp;Consultation</div>
            <a href="tel:03332304638" class="xTapNumber236260">0333 2304638</a>
        </div>
    </div>
</nav>
