<nav class="navbar navbar-expand-md fixed blue-fill">
    <a class="navbar-brand" href="#" target="_self">Finest Dental UK</a>
    <div class="nav-anchor">
        <ul>
            <li><a href="#"> <strong>TEETH IN A DAY</strong> DENTAL IMPLANTS</a></li>
        </ul>
    </div>

    <div class="btn book">
        <i class="lnr lnr-phone-handset"></i>
        <div id="phoneButtonText">
            <div><strong>Free</strong>&nbsp;Consultation</div>
            <a href="tel:03332304638" class="xTapNumber236260">0333 2304638</a>
        </div>
    </div>
</nav>
