<div id="floater">
    <div class="container" style="height:100%;">
        <div id="floaterCol" class="col-sm-12 col-md-12 offset-lg-9 col-lg-3">
            <h3><strong>Free</strong> Consultation</span></h3>
            <div class="phoneLink">
                <span class="lnr lnr-phone"></span>
                <a href="tel:03300580158" style="color:white" class="rTapNumber236260">03300580158</a>
            </div>
            <form action="/consultation.php" method="post">
                <!-- <h3>Fill out <span class="hidden-xs hidden-sm">this </span>Form</h3> -->
                <input type="hidden" name="company" value="1">
                <input type="hidden" name="sourceForm"
                       value="Invisalign London | Invisible Braces UK - Finest Dental  -  Finest Dental">
                <input type="hidden" name="product" value="Dentistry">
                <input type="hidden" name="SID" value="2">
                <input type="hidden" name="LPID" value="TestLandingPageID">
                <input type="hidden" name="TID" value="3">
                <input type="hidden" name="CID" value="392163">
                <input type="hidden" name="KID" value="Test Keywords">
                <input type="hidden" name="ASID" value="111">
                <input type="hidden" name="AID" value="121">
                        <div class="form-group">
                            <input type="hidden" name="treatment" value="1">
                        </div>
                        <div class="row nameRow">
                            <div class="col nameCol">
                                <div class="form-group">
                                    <input type="text" name="first_name" value="" size="40" class="form-control"
                                           aria-required="true" aria-invalid="false" placeholder="FIRST NAME">
                                </div>
                            </div>
                            <div class="col nameCol">
                                <div class="form-group">

                                    <input type="text" name="last_name" value="" size="40" class="form-control"
                                           aria-required="true" aria-invalid="false" placeholder="SURNAME">
                                </div>
                            </div>
                        </div>
                        <div class="row postcodeRow">
                            <div class="col-xs-6 col-sm-12 postcodeCol">
                                <div class="form-group">
                                    <input type="text" name="postcode" value="" size="40" class="form-control"
                                           aria-required="true" aria-invalid="false" placeholder="POSTCODE">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-12 postcodeCol">
                                <div class="form-group">
                                    <input type="text" name="phone" value="" size="40" class="form-control"
                                           aria-required="true" aria-invalid="false" placeholder="PHONE">
                                </div>
                            </div>
                        </div>
                        <div class="row emailRow">
                            <div class="col-xs-6 col-sm-12 emailCol">
                                <div class="form-group">
                                    <input type="text" name="email" value="" size="40" class="form-control"
                                           aria-required="true" aria-invalid="false" placeholder="EMAIL">
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-12 emailCol">
                                <div class="form-group"><select name="source" class="form-control">
                                    <option value="">HOW YOU HEARD OF US</option>
                                    <option value="261">Newspaper ad</option>
                                    <option value="2">Google search</option>
                                    <option value="1">Facebook ad</option>
                                    <option value="263">Instagram ad</option>
                                    <option value="262">Word of mouth</option>
                                    <option value="236">Other</option>
                                </select>
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            <input type="submit" name="submitForm" value="BOOK NOW" class="form-control btn btn-primary">
                        </div>
                        <div class="form-group d-none">
                            <input type="text" name="address" value="" size="40" class="form-control" aria-required="true"
                                   aria-invalid="false" placeholder="ADDRESS (REQUIRED)">

                        </div>


            </form>

            <form action="#" id="quote">
                <div id="faInner">
                    <h3><strong>Financing</strong><span class="disposable"> Available</span></h3>
                    <p>Helping you to get the treatment you want. <strong>Today</strong>.</p>
                    <img src="https://finestdental.co.uk/images/big_icon_piggybank.png" alt="piggybank image">
                </div>
            </form>
        </div>
    </div>
</div>

