<div class="v-center-flex  sections fill" id="before-after">
    <h2 class="sections-hed">Why choose <strong>Finest Dental</strong></h2>
    <div class="container position-relative mt-2">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">


                    <div class="row mt-4 ">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <img src="/images/icons/img-invisalign.jpg" style="max-width: 250px" class="embed-responsive ">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <h1 class="text-center mt-4 pt-4">

                                Join the thousands of <strong> happy customers </strong>
                            </h1>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <img src="/images/icons/img-quality.jpg" style="max-width: 250px" class="embed-responsive ">
                        </div>
                    </div>
                    <div class="pad-40">&nbsp;</div>
                    <div class="pad-40">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 ">
                        <div class="row text-center ">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3>
                                    <strong>
                                        Kristina
                                    </strong>
                                    (Finest Dental patient)
                                </h3>
                                <p style="padding-bottom:40px">
                                  <img alt="Kristina" src="/images/compare_girl_before_after_big.jpg" class="embed-responsive rounded"/>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3>
                                    <strong>
                                        Kayleigh
                                    </strong>
                                    (Finest Dental patient)
                                </h3>
                                <p style="padding-bottom:40px">
                                    <img alt="Kayleigh" src="/images/ba_invis_kayleigh_winchester.jpg"
                                         class="embed-responsive rounded"/>
                                </p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3>
                                    <strong>
                                        Grant
                                    </strong>
                                    (Finest Dental patient)
                                </h3>
                                <p style="padding-bottom:40px">
                                    <img alt="Grant" src="/images/ba_invis_grant_winchester.jpg" class="embed-responsive rounded"/>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3>
                                    <strong>
                                        Verity
                                    </strong>
                                    (Finest Dental patient)
                                </h3>
                                <p style="padding-bottom:40px">
                                    <img alt="Verity" src="/images/ba_invis_verity_winchester.jpg"
                                         class="embed-responsive rounded"/>
                                </p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6 col-sm-6 col-xs-12 beforeAfter">
                                <h3>
                                    Crowded Teeth
                                </h3>
                                <p class="text-center">
                                    <img alt="crowded teeth"
                                         src="https://www.invisalign.com/SiteCollectionImages/severe-crowding.jpg"
                                         class=" w-75"/>
                                </p>
                                <p>
                                    This-26-year old female believed there wasn't enough room within her jaw for all of her
                                    teeth to fit normally. Her doctor told her that when left untreated, overly crowded
                                    teeth can cause dental decay, and increase in the chances of gum disease, and can
                                    prevent the normal function of teeth. She was treated with Invisalign over the course of
                                    approximately 10 months.
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 beforeAfter">
                                <h3>
                                    Crossbite
                                </h3>
                                <p class="text-center">
                                    <img alt="Crossbite"
                                         src="https://www.invisalign.com/SiteCollectionImages/crossbite-before-after.jpg"
                                         class=" w-75"/>
                                </p>
                                <p>
                                    This 27-year-old female was unhappy that her upper and lower jaws seemed to be
                                    misaligned. This caused her upper teeth to bite on the inside of her lower teeth, and
                                    she could tell it was causing excessive wear. Her doctors told her this issue could also
                                    cause gum disease and bone loss. Her Invisalign treatment lasted approximately nine
                                    months.
                                </p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6 col-sm-6 col-xs-12 beforeAfter">
                                <h3>
                                    Gapped Teeth
                                </h3>
                                <p class="text-center">
                                    <img alt="Gapped teeth"
                                         src="https://www.invisalign.com/SiteCollectionImages/spacing.jpg " class=" w-75"/>
                                </p>
                                <p>
                                    56-year-old male was concerned that his teeth were abnormally spaced and very far apart.
                                    His doctor told him that, while this might just seem unattractive, spacing issues in
                                    teeth can also cause some periodontal diseases. His Invisalign treatment lasted
                                    approximately 10 months.
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 beforeAfter">
                                <h3>
                                    Overbite
                                </h3>
                                <p class="text-center">
                                    <img alt="Overbite"
                                         src="https://www.invisalign.com/SiteCollectionImages/overbite-before-after.jpg"
                                         class=" w-75"/>
                                </p>
                                <p>
                                    38-year-old female was concerned that her upper teeth overlapped her lower teeth too
                                    much. Not only is this a cosmetic issue, but it can lead to health problems later in
                                    life, so she was anxious to get it fixed. She was treated with Invisalign in
                                    approximately 20 months.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


