<div class="container page-hed-btn">
    <h2>Dedicated <strong>Full-Mouth Reconstruction</strong> Clinics Nationwide
        <a class="play" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/Sg5mcKDhQsc?autoplay=1&quot; frameborder=&quot;0&quot; gesture=&quot;media&quot; allow=&quot;encrypted-media&quot; allowfullscreen></iframe>" href="#" target="_blank" title="Henry's testimonial">Take a tour <img src="/images/chevron_right.png" alt="chevron"></a>
    </h2>
</div>