<div class="formContainer landscape" id="get-started1">

    <form action="/consultation.php" method="POST">
        <input type=hidden name="company" value="1">
        <input type=hidden name="sourceForm"
               value="Implants Sections Google Inline Form">
        <input type=hidden name="product" value="Implants">
        [!trackingFields!]
        <input type="hidden" name="treatment" value="4"/>
        <div class="form-fields">
            <div class="col-fields">
                <input type="text" class="form-control form-control-lg"
                       name="first_name" id="first_name1"
                       placeholder="FIRST NAME" required/>
            </div>
            <div class="col-fields">
                <input type="text" class="form-control form-control-lg" name="last_name"
                       id="last_name1"
                       placeholder="SECOND NAME" required/>
            </div>
            <div class="col-fields">
                <input type="text" class="form-control form-control-lg" name="phone"
                       placeholder="PHONE" required/>
            </div>
            <div class="col-fields">
                <input type="text" class="form-control form-control-lg" name="email"
                       placeholder="EMAIL" required/>
            </div>
            <!--<div class="col-fields required">-->
            <!--<input type="text" class="form-control" name="address" placeholder="REQUIRED ADDRESS"/>-->
            <!--</div>-->
            <div class="col-fields">

                <input type="text" class="form-control form-control-lg" name="postcode"
                       placeholder="POSTCODE" required/>

            </div>
            <div class="col-fields">
                <button type="submit" class="submit-btn btn full form-control-lg"
                        name="submitE" value="BOOK NOW">BOOK <strong>NOW</strong>
                </button>
            </div>

        </div>
    </form>

</div>