

<div class="container section fill hideBtnInit">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="alt bigger mb-3 text-center">Change Your Life <strong>Today!</strong> </h1>
            <h3 class="alt text-center">Straighten Your Teeth With Our Invisible Braces.
                <a class="contact-btn-inline" href="tel:{{content.tellnumber}}">
                    <div class="number">
                        <strong>Call: {{content.tellnumber}}</strong>
                    </div>
                </a>
            </h3>
        </div>
    </div>

  {{>invslider-five-icons}}


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 position-relative hideBtnInit">
            <img class="embed-responsive" src="/images/compare_girl_before_after.jpg?rl=f"alt="Henry before and after">
            <div class="d-block d-sm-block d-md-block  d-lg-none p-1">&nbsp;</div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 ">
            {{>invslider-two-swop}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-block d-md-block p-1">&nbsp;</div>
            {{>clean-form}}
            {{>form-tc-meta}}
        </div>
    </div>
</div>