<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
        <div class="five-icons-row">
            <div class="col-cs">
                <img src="/images/icons/img-invisalign.jpg" class="embed-responsive">
            </div>


            <div class="col-cs">
                <img src="/images/icons/img-inv-largest.jpg" class="embed-responsive">
            </div>


            <div class="col-cs">
                <img src="/images/icons/img-inv-5-years.jpg" class="embed-responsive">
            </div>

            <div class="col-cs">
                <img src="/images/icons/img-quality.jpg" class="embed-responsive">
            </div>


            <div class="col-cs d-none d-sm-block">
                <img src="/images/icons/img-inv-before.jpg" class="embed-responsive">
            </div>
        </div>
    </div>
</div>