<div class="gradientBg">
    <div class="v-center-flex  sections " id="faq">
        <h2 class="sections-hed">FAQ'S</h2>
    <div class="container content-main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="section clearfix">
                    <h1 class="text-center">
                        Frequently Asked
                        <strong>
                            Questions
                        </strong>
                    </h1>
                    <div class="panel-group" id="accordion">
                        <div class="row">
                            <div class="panel-left col-xs-12 col-sm-12 col-md-6">
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_1">
                                                What is Invisalign?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_1" style="height: 0px;">
                                        <div class="panel-body">
                                            Invisalign is the virtually invisible way to straighten your teeth and achieve the smile you’ve always dreamed of. Using advanced 3D computer-imaging technology, Invisalign depicts your complete treatment plan based on your Invisalign Provider’s prescription, from the initial position of your teeth to the final desired position. Then a series of clear aligners are custom-made for your teeth – and your teeth only – to move them little by little. Each aligner is worn for about two weeks before being replaced by the next in the series, gradually moving towards the projected final position. Your Invisalign treatment time will be determined by your Invisalign Provider, based on your specific needs.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_2">
                                                What are the benefits of Invisalign?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_2">
                                        <div class="panel-body">
                                            Invisalign aligners are nearly invisible. No one may even notice that you’re wearing these virtually invisible aligners, making Invisalign a seamless fit with your lifestyle and day-to-day interactions with others.Invisalign aligners are removable giving you the flexibility to eat and drink what you want during treatment by simply removing the aligners. And you can also remove the aligners to brush and floss as you normally would for fresh breath and to maintain good oral hygiene.
                                            Unlike traditional fixed braces, there are no metal brackets or wires. This means that in most cases less time is spent in your Invisalign Provider’s practice for adjustments.
                                            And finally, Invisalign allows you to view your virtual results and treatment plan before you even begin treatment so you can see how your teeth are expected to look when your treatment is complete.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_3">
                                                Is this a new way to straighten teeth?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_3">
                                        <div class="panel-body">
                                            Dentists or orthodontists have, in the past, successfully used removable appliances for years. But with the application of Align Technology’s 3D computer technology and mass-customisation, the Invisalign System can be used to treat a wide range of patients who wants straighter teeth. The unique ClinCheck® software allows patients to see their treatment plan from beginning to end even before the start of treatment.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_4">
                                                How often will I need to come in for appointments?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_4">
                                        <div class="panel-body">
                                            You will need to come and see us approximately every six to eight weeks so we can check your progress and make adjustments to your brace if they’re needed.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_5">
                                                How many patients are being treated with Invisalign?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_5">
                                        <div class="panel-body">
                                            More than 2.5 million patients worldwide have been treated with Invisalign. The number of Invisalign smiles grows daily.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_6">
                                                How does Invisalign work?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_6">
                                        <div class="panel-body">
                                            Invisalign aligners move teeth with an appropriate placement of controlled movement on the teeth. Unlike traditional braces, Invisalign not only controls the amount of movement per aligner, but also the timing of the movement. So at each stage, only certain teeth are allowed to move, as per the Invisalign treatment plan for that particular stage. This results in an efficient force delivery system that moves teeth into the desired prescribed position.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_7">
                                                Is Invisalign suitable for children and teenagers?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_7">
                                        <div class="panel-body">
                                            With experience, an Invisalign Provider can use Invisalign to treat malocclusion for a majority of adults and adolescents who want a better smile. For teenagers, talk to your Invisalign Provider to see if Invisalign Teen may be the right treatment option for your child.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_8">
                                                How often do follow-up appointments take place?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_8">
                                        <div class="panel-body">
                                            Appointment intervals are generally the same as with traditional braces but can be much quicker with less time spent in the dentists’ or orthodontists’ chair during appointments as no adjustments need to be made to wires/brackets. Patients typically visit their Invisalign Provider every 4 to 6 weeks to ensure the treatment is progressing as planned, and to receive their next few sets of Invisalign aligners, but your Invisalign Provider will decide based on your treatment.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_9">
                                                Is the Invisalign treatment painful?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_9">
                                        <div class="panel-body">
                                            Some people may experience temporary, minor discomfort for a few days, at the beginning of each new stage of treatment when they insert a new aligner. This is normal and is typically described as a feeling of pressure. It is a sign that the aligners are working – moving your teeth gradually, helping you to achieve the final results. This discomfort typically goes away in a couple of days.
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ item -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#faq_10">
                                                Are bridges and crowns a factor for Invisalign treatment?
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" class="panel-collapse collapse" id="faq_10">
                                        <div class="panel-body">
                                            Because bridges firmly link two or more teeth together, they offer significant resistance to tooth movement. Your Invisalign Provider will be able to determine whether bridges will be a factor in your treatment.	Crowns (tooth caps) are usually not a factor in Invisalign treatment. However, sometimes small tooth-coloured composites called “attachments” are bonded onto teeth to help achieve certain movements and are more difficult to bond on crowns than teeth. In these cases, the location of crowns must be carefully evaluated. An Invisalign Provider can provide further advice.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end panel right -->
                            <div class="col-sm-12 col-xs-12 col-md-6 videoFAQ">
                                <h3 class="text-center">
                                    <strong>
                                        Video
                                    </strong>
                                    FAQ
                                </h3>
                                <h4 class="text-center">
                                    Presented by musician Alex Aiono
                                </h4>
                                <a class="faq play" data-iframe='<iframe width="560" height="315" src="https://www.youtube.com/embed/S4KGNzm1dfY?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>' href="#" target="_blank" title="Watch video">
                                    <img alt="Alex" class="embed-responsive rounded" src="https://finestdental.co.uk/images/ldg_invis_alex.jpg">
                                    </img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>