<div class="v-center-flex bg-couple sections fill" id="pricing">
    <h2 class="sections-hed">Our <strong>Pricing</strong></h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 position-relative ">
                <div class="panel-h">
                    <div class="panel-hed blue">
                        <h2 class=" text-center ">Simple. Transparent. <span class="nl-return">All Inclusive.</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-lg-8">

                                {{>invslider-two-swop}}

                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <img class="embed-responsive mb-2" src="/images/icons/img-save-up-to-50-percent-off@2x.png"  alt="Save up to 50% off inisalign treatments">
                                <h2>Book your <strong class=" d-none d-md-inline d">free</strong> consultation now.<sup>8</sup>
                                </h2>
                                <div class="divider"></div>

                                {{>tiad-clean-form-no-hed}}
                            </div>
                            <div class="col-sm-12">
                                <div class="divider hideBtnInit"></div>
                                {{>dental-implants-clean-form-terms}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>