<div class="v-center-flex  sections " id="3monthsmile">
    <h2 class="sections-hed">3 Month <strong>Smile</strong></h2>
    <div class="container content-main">


        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 ">
                <h3 class="text-center">
                    Straighten your smile in a little as 3 months!
                </h3>
                <p>
                    <strong>
                        Invisalign
                        <sup>
                            ®
                        </sup>
                    </strong>
                    Aligners are virtually invisible, easily removable, and cause no irritation to your gums or mouth.
                    They are the world's most advanced orthodontic technology.
                </p>
                <p>
                    There'll be little or no change to your speech and you should feel no discomfort during the
                    treatment. And with our visualisation software, you can see the results before you even begin!
                </p>
                <div class="row treatmentVids" id="panelsAnchor">
                    <div class="expandedPanel" id="xpSingle">
                        <div class="inner">
                            <a class="corner top" href="#">
                            </a>
                            <div class="xpHeading">
                                <div class="column xpHeadingCol1">
                                    <h4>
                                        <strong>
                                            Over
                                        </strong>
                                        crowding
                                    </h4>
                                </div>
                                <div class="column xpHeadingCol2">
                                    <img alt="product image" src="/images/iOvercrowded.png">
                                    </img>
                                </div>
                            </div>
                            <p>
                                Overcrowded teeth occur when there is simply a lack of room within your jaw for all your
                                teeth to fit normally.
                            </p>
                            <p>
                                When left untreated, overly crowded teeth can lead to an increased chance of gum
                                disease, as your teeth are harder to clean.
                            </p>
                            <a class="cta play watchExplainer"
                               data-iframe='<iframe width="560" height="315" src="https://www.youtube.com/embed/OVQ5ELTPksA?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                               href="https://vimeo.com/154705990" target="_blank" title="Watch video">
                                <i class="lnr lnr-film-play">
                                </i>
                                <span>
                                        Watch explainer video
                                    </span>
                            </a>
                            <a class="openForm cta bookSpecific" href="#formanchor">
                                <i class="lnr lnr-enter">
                                </i>
                                <span>
                                        Book free consultation
                                    </span>
                            </a>
                            <p class="smallPrint">
                                *Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies.
                            </p>
                            <a class="corner" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="expandedPanel" id="xpMultiple">
                        <div class="inner">
                            <a class="corner top" href="#">
                            </a>
                            <div class="xpHeading">
                                <div class="column xpHeadingCol1">
                                    <h4>
                                        <strong>
                                            Widely Spaced
                                        </strong>
                                        Teeth
                                    </h4>
                                </div>
                                <div class="column xpHeadingCol2">
                                    <img alt="product image" src="/images/iWidelySpaced.png">
                                    </img>
                                </div>
                            </div>
                            <p>
                                Widely spaced teeth occur when you have extra space within your jaw. This could be due
                                to small sized teeth, abnormal growth of jaw bones, genetics, missing teeth and/or
                                tongue protrusion.
                            </p>
                            <p>
                                Spacing issues can cause some perio-pontal diseases including gingivitis and
                                periodontitis, that, left untreated, can lead to tooth loss.
                            </p>
                            <a class="cta play watchExplainer"
                               data-iframe='<iframe width="560" height="315" src="https://www.youtube.com/embed/OVQ5ELTPksA?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                               href="https://vimeo.com/154705990" target="_blank" title="Watch video">
                                <i class="lnr lnr-film-play">
                                </i>
                                <span>
                                        Watch explainer video
                                    </span>
                            </a>
                            <a class="openForm cta bookSpecific" href="#formanchor">
                                <i class="lnr lnr-enter">
                                </i>
                                <span>
                                        Book free consultation
                                    </span>
                            </a>
                            <p class="smallPrint">
                                *Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies.
                            </p>
                            <a class="corner" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="expandedPanel" id="xpArch">
                        <div class="inner">
                            <a class="corner top" href="#">
                            </a>
                            <div class="xpHeading">
                                <div class="column xpHeadingCol1">
                                    <h4>
                                        <strong>
                                            Cross
                                        </strong>
                                        bite
                                    </h4>
                                </div>
                                <div class="column xpHeadingCol2">
                                    <img alt="product image" src="/images/iCross.png">
                                    </img>
                                </div>
                            </div>
                            <p>
                                Crossbite occurs when the upper and lower jaws are both misaligned. It usually causes on
                                or more upper teeth to bite on the inside of the lower teeth, and can happen on both the
                                front and/or the sides of the mouth.
                            </p>
                            <p>
                                This issue can cause wear of the teeth, gum disease and bone loss.
                            </p>
                            <a class="cta play watchExplainer"
                               data-iframe='<iframe width="560" height="315" src="https://www.youtube.com/embed/OVQ5ELTPksA?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                               href="https://vimeo.com/154705990" target="_blank" title="Watch video">
                                <i class="lnr lnr-film-play">
                                </i>
                                <span>
                                        Watch explainer video
                                    </span>
                            </a>
                            <a class="openForm cta bookSpecific" href="#formanchor">
                                <i class="lnr lnr-enter">
                                </i>
                                <span>
                                        Book free consultation
                                    </span>
                            </a>
                            <p class="smallPrint">
                                *Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies.
                            </p>
                            <a class="corner" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="expandedPanel" id="xpTID">
                        <div class="inner">
                            <a class="corner top" href="#">
                            </a>
                            <div class="xpHeading">
                                <div class="column xpHeadingCol1">
                                    <h4>
                                        <strong>
                                            Underbite
                                        </strong>
                                        / Overbite
                                    </h4>
                                </div>
                                <div class="column xpHeadingCol2">
                                    <img alt="product image" src="/images/iUnderOver.png">
                                    </img>
                                </div>
                            </div>
                            <p>
                                Underbites and overbites occur when the upper or lower teeth overlap significantly with
                                the opposite arch.
                            </p>
                            <p>
                                They're typically caused by genetics, bad oral habits, or overdevelopment of the bone
                                that supports the teeth. This issue can lead to gum problems or irritation, and/or wear
                                on the lower teeth and can cause painful jaw and joint problems.
                            </p>
                            <a class="cta play watchExplainer"
                               data-iframe='<iframe width="560" height="315" src="https://www.youtube.com/embed/OVQ5ELTPksA?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                               href="https://vimeo.com/154705990" target="_blank" title="Watch video">
                                <i class="lnr lnr-film-play">
                                </i>
                                <span>
                                        Watch explainer video
                                    </span>
                            </a>
                            <a class="openForm cta bookSpecific" href="#formanchor">
                                <i class="lnr lnr-enter">
                                </i>
                                <span>
                                        Book free consultation
                                    </span>
                            </a>
                            <a class="corner" href="#">
                            </a>
                            <p class="smallPrint">
                                *Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="fpanel" id="pSingle">
                            <div class="panelImageHolder">
                                <img alt="panel image" src="/images/iOvercrowded.png">
                                </img>
                            </div>
                            <div class="panelName">
                                <h3>
                                    Over
                                </h3>
                                <h4>
                                    Crowding
                                </h4>
                            </div>
                            <a href="#" title="Find out more">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="fpanel" id="pMultiple">
                            <div class="panelImageHolder">
                                <img alt="panel image" src="/images/iWidelySpaced.png">

                            </div>
                            <div class="panelName">
                                <h3>
                                    Widely
                                </h3>
                                <h4>
                                    Spaced
                                </h4>
                            </div>
                            <a href="#" title="Find out more">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="fpanel" id="pArch">
                            <div class="panelImageHolder">
                                <img alt="panel image" src="/images/iCross.png">
                                </img>
                            </div>
                            <div class="panelName">
                                <h3>
                                    Cross
                                </h3>
                                <h4>
                                    Bite
                                </h4>
                            </div>
                            <a href="#" title="Find out more">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="fpanel" id="pTID">
                            <div class="panelImageHolder">
                                <img alt="panel image" src="/images/iUnderOver.png">
                                </img>
                            </div>
                            <div class="panelName">
                                <h4>
                                    Underbite/
                                </h4>
                                <h3>
                                    Overbite
                                </h3>
                            </div>
                            <a href="#" title="Find out more">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12 col-lg-12 col-md-12">
                        <p style="text-align:center">
                            <a href="assets/files/invisalign_brochure_web.pdf" id="downloadInvisBrochure"
                               target="_blank">
                                Download
                                <span class="hidden-sm hidden-xs">
                                Our
                            </span>
                                <span class="hidden-xs">
                                Invisalign
                            </span>
                                Brochure
                                <small class="hidden-xs">
                                    PDF, 3.8MB
                                </small>
                            </a>
                        </p>
                    </div>
                    <div class=" col-sm-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class=" col-sm-12 col-md-6">
                                <ul class="whyBullets">
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        UK's
                                        <strong>
                                            #1
                                        </strong>
                                        Invisalign Provider 2017
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        <strong>
                                            Free
                                        </strong>
                                        consultation
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Financing available
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        State-of-the-art
                                        <a class="play"
                                           data-iframe='<iframe width="560" height="315" data-src="https://www.youtube.com/embed/8qQ8Cg-ja-k" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/8qQ8Cg-ja-k?autoplay=1"></iframe>'
                                           href="#">
                                            ▶ iTero
                                            <sup>
                                                ®
                                            </sup>
                                            scanner
                                        </a>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Free OPG X-ray (worth
                                        <strong>
                                            £85
                                        </strong>
                                        )
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        Unlimited guarantee
                                    </li>
                                    <li>
                                        <i class="lnr lnr-checkmark-circle">
                                        </i>
                                        <a href="locations.html">
                                            7 Clinics
                                        </a>
                                        nationwide
                                    </li>
                                </ul>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <p class="bigText hidden-sm hidden-xs">
                                    Perfect alignment.
                                    <br>
                                    <strong>
                                        Minimal irritation.
                                    </strong>
                                    <br>
                                    Completely invisible.
                                    </br>
                                    </br>
                                </p>
                                <p>
                                    During your initial consultation, our experts will make a detailed evaluation of
                                    your specific case and put together a customised treatment plan just for you. We use
                                    the
                                    <a class="play"
                                       data-iframe='<iframe width="560" height="315" data-src="https://www.youtube.com/embed/4jfcKwGYlFY" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/4jfcKwGYlFY?autoplay=1"></iframe>'
                                       href="#">
                                        <strong>
                                            ▶ latest technology
                                        </strong>
                                    </a>
                                    to get the best possible results.
                                </p>
                                <p>
                                    Invisalign can successfully treat overcrowding, wide-spaced teeth, irregular teeth,
                                    crossbite, underbite and overbite and a range of other dental issues.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</div>