<div class="parallax img-bermondsey-collage">
    <div class="clinic-box">
        <h3 class="h2"><b>Expertise Meets Technology</b></h3>
        <p>"At Finest Dental, we pride ourselves in taking on cases that other dentists have deemed beyond repair. Seeing patients' new smiles for the first time is the highlight of my professional career."</p>
        <p><em>Simon Riahi</em><em>Clinical Director &amp; Chief TIAD Implantologist</em></p>
        <img src="/images/implants7/simon_circle.png" alt="Portrait of Simon Riahi, Clinical Director">
    </div>
</div>