.submit {

  @include media-breakpoint-up(lg) {

  }
  @include media-breakpoint-down(md) {

  }
  @include media-breakpoint-down(sm) {

  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }


  &.big {
    padding: 20px 25px ;
    @include fluid-type(17px, 24px);
  }
  &.full {
    width: 100%;
  }
  outline:none;


  background-color: $acc4;
  color:$acc5 ;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  span, strong {
    color:$acc5 ;
    &:hover {
      color:$acc4;
    }
  }
  border: 0;
  &:hover {
    background-color: white;
    color:$acc4;
    span, strong {
      color:$acc4 ;

    }
  }
}

.submit-btn {



  &.big {
    padding: 20px 25px ;
  }
  &.full {
    width: 100%;
  }
  outline:none;


  background-color: $acc4;
  color:$acc5 ;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  span, strong {
    color:$acc5 ;
    &:hover {
      color:$acc4;
    }
  }
  border: 0;
  &:hover {
    background-color: white;
    color:$acc4;
    span, strong {
      color:$acc4 ;

    }
  }
}

.float-btn {
  @include media-breakpoint-up(lg) {
    position: relative;
  }
  @include media-breakpoint-down(md) {
    position: relative;

  }
  @include media-breakpoint-down(sm) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    z-index: 100;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 27px;
  }
  @include media-breakpoint-down(xs) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    z-index: 100;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 27px;
  }
}

.hide-md-lg {
  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
  @include media-breakpoint-down(md) {
    display: inline-block;

  }
  @include media-breakpoint-down(sm) {
    display: none;

  }
  @include media-breakpoint-down(xs) {
    display: none;

  }
}