.formContainer {
    h2, .meta-text {

      margin: 0 .5rem 1rem;
    }
    .form-fields {
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-flow: column;
      }

      .col-fields {
        @include media-breakpoint-down(sm) {
          display: flex;
          width: auto;
          margin:0 0 .5rem 0;
        }
        flex-grow: 1;
        width: 33%;
        margin:0 0 .5rem .5rem;
      }
    }
}