<div class="gradientBg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
                <div class="section beforeAfterSection">
                    <h1 class="text-center mb-4">Before &amp; <strong>After</strong></h1>

                    <div class="row w-75 m-auto">
                        <div class="col-md-4 col-sm-12 col-xs-12 beforeAfter">

                            <p><img class="embed-responsive rounded" src="/images/veneers_ba2.jpg"
                                    alt="Veneers before and after"></p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 beforeAfter">

                            <p><img class="embed-responsive rounded" src="/images/veneers_ba3.jpg"
                                    alt="Veneers before and after"></p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 beforeAfter">

                            <p><img class="embed-responsive rounded" src="/images/veneers_ba4.jpg"
                                    alt="Veneers before and after"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>