
<div class="container section content-main ">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 text-col-left">
            <h3><strong>Recharge</strong> your smile. <strong>Regain</strong> your confidence.</h3>
            <p>Economical porcelain veneers can help improve the appearance of teeth that are malformed, cracked,
                discolored or have other types of imperfections. In most cases, porcelain veneers <strong>dramatically
                    transform a patient's smile</strong>, have positive impact on oral health and give the feeling of
                confidence.</p>



            <div class="videoContainer">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/HZHBvbmiAWQ?rel=0&amp;controls=0&amp;showinfo=0&amp;wmode=opaque&amp;modestbranding=1"
                        frameborder="0" allowfullscreen=""></iframe>
            </div>

            <p>Unlike your natural teeth, veneers are <strong>very resistant to stains</strong>. No more worries about
                drinking coffee, wine or other staining agents!</p>
            <p>Get the <strong>'Hollywood Smile'</strong> you deserve, at a fraction of the price of implants and
                crowns.</p>
        </div>
    </div>
</div>