<div class="container section text-col-wide content-main">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
            <h1 class="text-center">Veneers <strong>Prices</strong></h1>
            <div class="row">

                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 	col-sm-10 offset-sm-1 ">
                    <div class="row" id="prices">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">Single <span class="hidden-xs">Veneer</span></p>
                            <p class="pricePrice">
                                £595
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">2 Top, 2 Bottom</p>
                            <p class="pricePrice">
                                £1,995 or <br><span class="monthly">£38/month</span>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <p class="priceTitle">3 Top, 3 Bottom</p>
                            <p class="pricePrice">
                                £2,995 or <br><span class="monthly">£57/month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="row" id="boxes">
                        <div class="col-sm-12">
                            <p class="text-center">All our veneers prices are all inclusive with no hidden extras.
                                Monthly finance figures are based on a 5-year payment plan.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="pill-icon">

                                <i class="bigIcon lnr lnr-history"></i>
                                <h3>Interest-free finance</h3>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-users"></i>
                                <h3>Free consultation</h3>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="pill-icon">

                                <i class="bigIcon lnr lnr-checkmark-circle"></i>
                                <h3>Unlimited guarantee</h3>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="pill-icon">
                                <i class="bigIcon lnr lnr-database"></i>
                                <h3>Inclusive pricing</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>