<div class="container content-main section">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1>
                            Meet Your
                            <strong>
                                Support Team
                            </strong>
                        </h1>
                        <img alt="Support staff group photograph" id="supportGroup"
                             src="https://finestdental.co.uk/images/staff_group.jpg" class="embed-responsive mb-3">
                        <p>
                            Our dedicated phone support team of
                            <strong>
                                Sophia
                            </strong>
                            ,
                            <strong>
                                Kyle
                            </strong>
                            ,
                            <strong>
                                Richard
                            </strong>
                            ,
                            <strong>
                                Liz
                            </strong>
                            and
                            <strong>
                                Nikki
                            </strong>
                            will get you started with your Invisalign treatment, and remain with you throughout. The
                            team pride themselves on their dedication and passion. The personal touch is very important
                            to us at Finest Dental.
                        </p>
                        <p>
                            Call them now on
                            <strong>
                                <a class="rTapNumberxxx" href="tel:08081597474">
                                    08081597474
                                </a>
                            </strong>
                            to book a
                            <strong>
                                free consultation
                            </strong>
                            !
                        </p>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>