<div class="gradientBg">
    <div class="container text-col-wide">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
                <div class="row section">
                    <div class="col-sm-12"><h1 class="text-center">Why Choose <strong>Finest Dental</strong>?</h1></div>
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="whyBullets">
                                    <li><i class="lnr lnr-checkmark-circle"></i> Free consultation</li>
                                    <li><i class="lnr lnr-checkmark-circle"></i> Financing available</li>
                                    <li><i class="lnr lnr-checkmark-circle"></i> <a href="#" class="play"
                                                                                    data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/TGbvtDoaNAs?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>">▶
                                        In-house laboratory</a></li>
                                    <li><i class="lnr lnr-checkmark-circle"></i> Unlimited guarantee</li>
                                    <li><i class="lnr lnr-checkmark-circle"></i> <a href="locations.html">7 Clinics</a>
                                        nationwide
                                    </li>
                                </ul>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p class="bigText d-sm-none d-g-block">Porcelain veneers can help improve the appearance
                                    of
                                    teeth that are malformed, cracked, discolored or have other types of
                                    imperfections.</p>
                                <p>Made of semi-translucent ceramic, porcelain veneers look realistic and are not
                                    noticable.
                                    Porcelain mimics the natural teeth enamel. This is impossible to achieve with other
                                    materials. </p>
                                <p class="bigText"><a href="#" class="play"
                                                      data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/i557ZeeCOFg?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>">▶
                                    Watch Explainer Video</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>