<div class="parallax location">
    <div class="container content-main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 pokethrough">
                <blockquote>
                    <h2 class="h1 txt-c1">From only £11.23 per month</h2>
                    <p>For a limited period, veneers are available from only <strong>£11.23 per month</strong> (or
                        £595)!</p>
                </blockquote>
                <div>
                </div>
                <a class="openForm btn btn-primary" href="#">
                    Book Your Free Consultation</a>
            </div>
        </div>
    </div>
</div>